// 基本設定
$total-columns  : 8;
$column-width   : 4.5em;
$gutter-width   : 1.5em;
$grid-padding   : 0em;

// add media
$wide-mobile: 440px;

$pad-columns     : 8;
$pad-break       : 640px;
$pad: $pad-break $pad-columns;

$desktop-columns  : 12;
$desktop-break    : 768px;
$desktop: $desktop-break $desktop-columns;

$wide-desktop-columns  : 12;
$wide-desktop-break    : 1200px;
$wide-desktop: $wide-desktop-break $wide-desktop-columns;
// debug-grid
// $grid-background-column-color: rgba(red,.03);
// $grid-background-baseline-color: rgba(blue,.05);
// body {
//   @include baseline-grid-background;
// }
// .container {
//   @include susy-grid-background;
//   @include at-breakpoint($pad) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($desktop) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($wide-desktop) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($ex-wide-desktop) {
//     @include susy-grid-background;
//   }
// }

body {
  margin: 0;
  padding: 0;
}

.container {
  @include container($total-columns, $desktop);
  @include at-breakpoint($wide-desktop) {
    @include box-shadow( 0 0 5px rgba(black, 0.1) );
  }
}

.header {
  border-bottom: 1px solid #ddd;
  background-color: rgba(white, 0.85);
  @include at-breakpoint($desktop) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  @include at-breakpoint($wide-desktop) {
    border-bottom: 0;
    background-color: transparent;
  }
}

.content {
  @include at-breakpoint($desktop) {
    padding-top: $base-line-height * 2 + 1;
  }
}

.footer {
  padding: 0 1em;
  min-height: 200px;
  background-color: #f2f2f2;
  color: #a00;
}

