// 基本設定
$total-columns  : 8;
$column-width   : 4.5em;
$gutter-width   : 1em;
$grid-padding   : 1em;

// add media
$wide-mobile: 440px;

$pad-columns     : 8;
$pad-break       : 640px;
$pad: $pad-break $pad-columns;

$desktop-columns  : 12;
$desktop-break    : 768px;
$desktop: $desktop-break $desktop-columns;

// debug-grid
// $grid-background-column-color: rgba(red,.03);
// $grid-background-baseline-color: rgba(blue,.05);
// body {
//   @include baseline-grid-background;
// }
// .container {
//   @include susy-grid-background;
//   @include at-breakpoint($pad) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($desktop) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($wide-desktop) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($ex-wide-desktop) {
//     @include susy-grid-background;
//   }
// }

body {
  margin: 0;
  padding: 0;
}

.container {
  @include container($total-columns, $desktop);
  overflow-x: hidden;
}

.header {
  @include pie-clearfix;
  @include trailer(1);
  border-bottom: 1px solid #ddd;
  @include box-shadow( 0 0 5px rgba(black, 0.1) );
  @include at-breakpoint($desktop) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(white, 0.65);
  }
}

.content {
  @include at-breakpoint($desktop) {
    padding-top: $base-line-height * 3 + 1;
  }
}

section {
  min-height: 400px;
  background-color: #eeeeed;
  @include trailer(1);
}

.active {
  background-color: #ffe;
}

.footer {
  min-height: 200px;
  background-color: green;
  color: #a00;
}

