// 基本設定
$total-columns  : 8;
$column-width   : 5.5em;
$gutter-width   : 3em;
$grid-padding   : 0em;

// add media
$wide-mobile: 440px;

$pad-columns     : 8;
$pad-break       : 640px;
$pad: $pad-break $pad-columns;

$desktop-columns  : 12;
$desktop-break    : 768px;
$desktop: $desktop-break $desktop-columns;

$container-border: 1720px $desktop-columns;

$sp: 768px $desktop-columns 1100px;
$sp2: 768px $desktop-columns 1400px;

// debug-grid
// $grid-background-column-color: rgba(red,.03);
// $grid-background-baseline-color: rgba(blue,.05);
// body {
//   @include baseline-grid-background;
// }
// .container {
//   @include susy-grid-background;
//   @include at-breakpoint($desktop) {
//     @include susy-grid-background;
//   }
// }

body {
  margin: 0;
  padding: 0;
  @include transition( background-color 1s );
  @include at-breakpoint($container-border) {
    background-color: #eeeeef;
  }
}

.container {
  overflow: hidden;
  background: #fcfcfc;
  @include container($total-columns, $desktop);
  transition: box-shadow 1s;
  @include at-breakpoint($container-border) {
    box-shadow: 0 0 5px rgba(black, .3);
  }
}

.content {
  @include padding-leader(1);
  @include at-breakpoint($desktop) {
    padding-top: $base-line-height * 9 + 1;
  }
  .home & {
    @include at-breakpoint($desktop) {
      padding-top: $base-line-height * 4 + 1;
    }

  }
}

.footer {
  padding: 0 1em;
  min-height: 200px;
  background-color: #f2f2f2;
  color: #a00;
}

