$base-font-size: 16px;
$base-line-height: 24px;
$legacy-support-for-ie: false;
$relative-font-sizing: false;
$grid-background-baseline-height: $base-line-height;

@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;
@import "layout";
@import "baseline";
@import "basic/basic";

@import "partials/header";


// 隱藏/開啓工具
.hide-mobile {
  display: none;
}

@include at-breakpoint($desktop) {
  .hide-mobile {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
}

.open {
  display: block;
}

.active {
  display: block;
}
