$base-font-size: 16px;
$base-line-height: 24px;
$legacy-support-for-ie: false;
$relative-font-sizing: false;
$grid-background-baseline-height: $base-line-height;

@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;
@import "baseline";

@import "color";

@import "layout";

@import "basic/basic";


// component
@import "component/split-line";

// partials
@import "partials/header";
@import "partials/footer";
@import "partials/block";
@import "partials/carousel";


@import "page";


// 隱藏/開啓工具
.hide-mobile {
  display: none;
}

@include at-breakpoint($desktop) {
  .hide-mobile {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
}

.open {
  display: block;
}

.active {
  display: block;
}


// 控制文字強制換行工具
.no-wrap {
  @include at-breakpoint($desktop) {
    white-space: nowrap;
  }
}



