$base-font-size: 16px;
$base-line-height: 24px;
$legacy-support-for-ie: false;
$relative-font-sizing: false;
$grid-background-baseline-height: $base-line-height;

@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;

@import "layout";
@import "typography";
@import "baseline";
