= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", \
  "/vender/bootstrap/bootstrap-js", \
  "/vender/magnific-popup/jquery.magnific-popup", \
  "/vender/jquery.fittext", \
  "scrollspy", \
  "all"
