meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
title roolen
= stylesheet_link_tag "all", "/vender/bootstrap/bootstrap-glyphicons.css"
/[if lt IE 9]
  = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"

= javascript_include_tag "//use.typekit.net/jtp1kov.js"
javascript:
  try{Typekit.load();}catch(e){}
