body {
  font-family: "Arial",
               sans-serif;
  font-weight: normal;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#{headings()} {
  @include reset-box-model;
  font-weight: normal;
}
h1 {
  @include adjust-font-size-to(32px);
}
h2 {
  @include adjust-font-size-to(24px);
}

a {
  @include link-colors(#4183c4);
  @include hover-link;
}

ul, p {
  @include reset-box-model;
}

ul {
  list-style: none;
  list-style-position: inside;
}

p {
  @include trailer(1);
}

img {
  display: block;
  max-width: 100%;
  @include trailer(1);
}

 %helvetica-ultralight {
  font-family:
            "HelveticaNeue-UltraLight",
            "HelveticaNeue-Light",
            "HelveticaNeue",
            "Helvetica",
            "Arial",
            sans-serif;
  font-weight: 100;
}


.wf-active {
  .hero-sub-title {
    font-family: "proxima-nova-n1", "proxima-nova";
    font-weight: 300;
  }
  .block-title {
    font-family: "proxima-nova-n6", "proxima-nova";
    font-weight: 600;
    margin-bottom: 6px;
  }
  .block-sub-title {
    font-family: "proxima-nova-n1", "proxima-nova";
    font-weight: 100;
    @include trailer(.5);
    @include at-breakpoint($desktop) {
      @include trailer(1.5);
    }
  }
  .block-text {
    font-family: "proxima-nova-n3", "proxima-nova";
    font-weight: 300;
  }
}
