.about {
  .block-container {
    @include trailer(1);
  }

  .row {
    @include pie-clearfix;
    @include at-breakpoint($desktop) {
      margin: 0 auto;
      @include trailer(2);
      max-width: 1275px;
    }
    @include at-breakpoint($sp2) {
      max-width: 800px;
    }
  }
}

.col2 {
  text-align: left;
  @include at-breakpoint($desktop) {
    @include span-columns( ( $total-columns / 2), $total-columns);
    @include nth-omega(2n);
  }
  @include at-breakpoint($sp2) {
    @include reset-columns;
    &:nth-child(2n) {
      @include reset-columns;
    }
  }
}

.about_family-img {
  @include trailer(2);
  @include at-breakpoint($desktop) {
    @include leader(2);
    @include trailer(1);
  }
}

.about-office-img {
  @include at-breakpoint($desktop) {
    width: 100%;
  }
  @include at-breakpoint($sp2) {
    width: auto;
    max-width: 100%;
  }
}



.cooperate-with-us {
  clear: both;
  @include leader(2);
  @include trailer(2);
  text-align: center;
  color: $color-gray;
  @include adjust-font-size-to(18px, 1);
  @extend %proxima-nava-4;
  @include at-breakpoint($desktop) {
    @include leader(3);
    @include trailer(3);
    @include adjust-font-size-to(22px, 1.25);
  }
  a {
    display: block;
  }
}


// 最新版本無此部分
// mobile 下，特殊排版。
// @include with-grid-settings(5, 4em, 1.5em, 0em) {
//   .member-group {
//     @include container;
//   }
// }
// @include with-grid-settings(5, 4em, .5em, 0em) {
//   .member {
//     @include span-columns(2);
//     @include nth-omega(3n);
//     @include at-breakpoint($desktop) {
//       @include remove-nth-omega(3n, child, 5);
//       @include span-columns(1, 5);
//       @include nth-omega();
//     }
//   }
// }


// .roolen-members {
//   @include pie-clearfix;
//   @include at-breakpoint($desktop) {
//     text-align: left;
//     @include span-columns( ($total_columns / 2), $total_columns );
//   }
//   @include at-breakpoint($sp) {
//     @include reset-columns;
//   }
// }

// .member-group {
//   text-align: center;
//   max-width: 320px;
//   margin: 0 auto;
//   @include at-breakpoint($desktop) {
//     max-width: none;
//     margin: 0 -40px;
//     position: relative;
//     left: -25px;
//   }
//   @include at-breakpoint($sp) {
//     left: 0;
//   }
// }

// .member {
//   @include trailer(1);
//   @include adjust-font-size-to(14px, 2/3);
//   @extend %proxima-nava-5;
//   @include span-columns(4);
//   @include nth-omega(2n);
//   @include at-breakpoint($desktop) {
//     &:nth-child(2n) {
//       float: none;
//       margin: 0;
//       display: inline-block;
//     }
//     float: none;
//     display: inline-block;
//     width: 18.5%;
//     margin: 0 2px;
//   }
//   .name {
//     white-space: nowrap;
//     color: #586b84;
//   }
//   .avatar img {
//     border: 1px solid #777;
//     margin-bottom: 6px;
//   }
//   .job {
//     color: #bbb;
//   }
// }

// .roolen-lead-team {
//   text-align: left;
//   @include at-breakpoint($desktop) {
//     @include span-columns( ($total_columns / 2)omega, $total_columns );
//   }
//   @include at-breakpoint($sp) {
//     @include reset-columns;
//   }
// }
// .roolen-lead-team-title {
//   @include adjust-font-size-to(22px, 1);
//   font-weight: 600;
//   @extend %proxima-nava-6;
//   @include at-breakpoint($desktop) {
//     @include adjust-font-size-to(30px, 1.5);
//   }
// }
// .roolen-lead-team-text {
//   color: $color-black;
//   @include adjust-font-size-to(16px);
//   @extend %proxima-nava-4;
// }



