.press-carousel {
  @include trailer(1.5);
  @include at-breakpoint($desktop) {
    @include trailer(5);
  }
  .item {
    &:hover {
      text-decoration: none;
    }
    img {
      margin: 0 auto;
    }
  }
  .item-title {
    @include trailer(.25);
    text-align: center;
    color: black;
    font-weight: 300;
    @extend %block-title-font;
    @extend %proxima-nava-3;
    @include at-breakpoint($desktop) {
      font-weight: 100;
      @include trailer(1.5);
    }
  }
}

.press_jp {
  max-width: 75%;
  @include at-breakpoint($desktop) {
    max-width: 100%;
  }
}

.press-releases-title {
  text-align: left;
  font-weight: 300;
  @extend %proxima-nava-3;
  @include at-breakpoint($desktop) {
    text-align: center;
    font-weight: 100;
  }
}

.timeline {
  margin: 0 auto;
  // @include leader(.5);
  @include trailer(2);
  text-align: left;
  @include at-breakpoint($desktop) {
    @include leader(1);
    max-width: 800px;
  }
}

.timeline-title {
  @include trailer(.125);
  @include adjust-font-size-to(16px, 1);
  font-weight: 600;
  @extend %proxima-nava-6;
  @include at-breakpoint($desktop) {
    @include trailer(.25);
    @include adjust-font-size-to(20px, 1);
  }
}

.timeline-item {
  @include trailer(.75);
  @include adjust-font-size-to(14px, 3/4);
  @extend %proxima-nava-4;
  @include at-breakpoint($desktop) {
    @include trailer(1.5);
    @include adjust-font-size-to(16px, 1);
  }
  .date {
    color: $color-light-gray;
    float: left;
    width: 8em;
    &:after {
      content: "—";
      display: block;
      float: right;
      margin: 0 1em 0 0;
      color: $color-black;
    }
  }
  .event {
    overflow: hidden;
  }
}
