.press-title {
  text-align: center;
  font-weight: 300;
  @extend %proxima-nava-3;
  @include adjust-font-size-to(24px);
  line-height: 1em;
  @include at-breakpoint($desktop) {
    font-weight: 100;
    @include adjust-font-size-to(50px);
    line-height: 1em;
  }
}


.press-carousel {
  @include trailer(2);
  @include at-breakpoint($desktop) {
    @include trailer(3);
  }
  .press-title {
    @include trailer(.5);
    @include at-breakpoint($desktop) {
      @include trailer(1);
    }
  }
  .star {
    margin: 0 auto;
    max-width: 473px;
    width: 65%;
    height: auto;
  }
  .item {
    &:hover {
      text-decoration: none;
    }
    img {
      margin: 0 auto;
    }
  }
  .item-title {
    @include trailer(.25);
    text-align: center;
    color: $color-gray;
    font-weight: 300;
    @extend %proxima-nava-4;
    @include adjust-font-size-to(16px);
    line-height: 1em;
    @include at-breakpoint($desktop) {
      @include trailer(.5);
      @include adjust-font-size-to(26px, 1);
      line-height: 1em;
    }
  }
}

.press-releases {
  margin: 0 1em;
  @include at-breakpoint($desktop) {
    @include trailer(3);
  }
  .press-title {
    @include trailer(.5);
    @include at-breakpoint($desktop) {
      @include trailer(1);
    }
  }
}

.timeline {
  margin: 0 auto;
  @include trailer(2);
  text-align: left;
  @include at-breakpoint($desktop) {
    max-width: 800px;
  }
}

.timeline-title {
  @include trailer(.25);
  @include adjust-font-size-to(16px, 1);
  font-weight: 600;
  @extend %proxima-nava-6;
  @include at-breakpoint($desktop) {
    @include trailer(.5);
    @include adjust-font-size-to(20px, 1);
  }
}

.timeline-item {
  @include trailer(.75);
  @include adjust-font-size-to(14px, 3/4);
  @extend %proxima-nava-4;
  @include at-breakpoint($desktop) {
    @include trailer(1);
    @include adjust-font-size-to(16px, 1);
  }
  .date {
    color: $color-light-gray;
    float: left;
    width: 8em;
    &:after {
      content: "—";
      display: block;
      float: right;
      margin: 0 1em 0 0;
      color: $color-black;
    }
  }
  .event {
    overflow: hidden;
  }
}
