.support {
  .support-image {
    margin-bottom: 0;
  }
}

.support-carousel {
  margin: 0 auto;
  max-width: 980px;
  .carousel-slide {
    margin: 0 1em;
  }
  .carousel-inner {
    width: 80%;
    @include at-breakpoint($desktop) {
      width: auto;
    }
  }
}

.resources {
  @include pie-clearfix;
  margin: 0 auto;
  @include trailer(2);
  max-width: 360px;
  @include at-breakpoint($desktop) {
    max-width: none;
    @include trailer(3);
  }
  li {
    @include span-columns(4, $total_columns);
    @include nth-omega(2n);
    @include trailer(1);
    @include at-breakpoint($desktop) {
      @include span-columns(2, $block-content-columns);
      @include remove-nth-omega(2n, child, $block-content-columns);
      @include nth-omega(4n);
      margin-bottom: 0;
    }
  }

}

%support-title {
  @include adjust-font-size-to(20px, 1.25);
  font-weight: 600;
  color: $color-black;
  @extend %proxima-nava-6;
  @include at-breakpoint($desktop) {
    @include adjust-font-size-to(24px, 1.5);
  }
}

%support-text {
  @include adjust-font-size-to(16px, 3/4);
  color: $color-black;
  @extend %proxima-nava-4;
  @include at-breakpoint($desktop) {
    @include adjust-font-size-to(18px, 5/6);
  }
}

.resource {
  display: block;
  text-align: center;
  color: $color-black;
  &:hover {
    text-decoration: none;
  }
  .title {
    @include trailer(0.25);
    @extend %support-title;
  }
  img {
    @include trailer(0.5);
  }
  .text {
    white-space: nowrap;
    @extend %support-text;
  }
  &:hover .text {
    color: $color-gray;
  }
}

.contact-roolen {
  @include trailer(1);
  text-align: center;
  @include at-breakpoint($desktop) {
    @include trailer(5);
    @include span-columns( $total_columns / 2, $total_columns );
  }
  .title {
    @include trailer(0.5);
    @extend %support-title;
  }
  img {
    @include trailer(0.5);
  }
  .text {
    @include trailer(.75);
    @extend %support-text;
  }
  .mail-to {
    @include adjust-font-size-to(16px);
    @extend %proxima-nava-4;
    @include at-breakpoint($desktop) {
     @include adjust-font-size-to(18px);
    }
  }
}

.support-staff {
  @include trailer(2);
  @include at-breakpoint($desktop) {
    @include trailer(5);
    @include span-columns( $total_columns / 2 omega, $total_columns );
  }
  img {
    margin: 0 auto;
  }
}
