.capacity {
  img {
    margin: 0 auto;
  }
}

.capacity-count {
  margin-top: -14px;
  @include trailer(.5);
  text-align: center;
  @include adjust-font-size-to(44px, 2);
  color: $logo-color;
  @extend %helvetica-ultralight;
  @include at-breakpoint($desktop) {
    margin-top: -20px;
    @include trailer(.75);
    @include adjust-font-size-to(68px, 3);
  }
}
