.capacity {
  img {
    margin: 0 auto;
    max-width: 50%;
    @include at-breakpoint($desktop) {
      max-width: none;
      margin-bottom: -20px;
    }
  }
}

.capacity-count {
  @include transition( opacity .3s);
  @include trailer(1);
  text-align: center;
  @include adjust-font-size-to(70px, 2);
  color: $logo-color;
  @extend %helvetica-ultralight;
  @include at-breakpoint($desktop) {
    @include adjust-font-size-to(96px, 4);
    @include trailer(1);

  }
}
