

.components {
  img {
    margin: 0 auto;
  }
}

.components-demo {
  @include pie-clearfix;
  max-width: 815px;
  margin: 0 auto;
  @include trailer(2);
    @include at-breakpoint($desktop) {
      @include trailer(4.5);
    }
}


.flow-side {
  position: relative;
  float: left;
  width: 58%;
  max-width: 474px;
}
.flow-side-fan {
  position: absolute;
  top: 43.5%;
  left: 35.5%;
  z-index: 2;
  max-width: 25%;
  .active & {
    -webkit-animation-name: fan;
    -webkit-animation-duration: 1.5s;/*动画持续时间*/
    -webkit-animation-delay: 0s;/*动画延迟时间*/
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: fan;
    animation-duration: 1.5s;/*动画持续时间*/
    animation-delay: 0s;/*动画延迟时间*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
// fan-anime
@-webkit-keyframes fan {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes fan {
  100% {
    transform: rotate(360deg);
  }
}

.flow-side-fancover {
  position: absolute;
  top: 0;
  z-index: 4;
  opacity: 0.9;
}
.flow-side-anime {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  background-size: 100% auto;
}

.flow-angle {
  position: relative;
  max-width: 340px;
  width: 42%;
  float: right;
}
.flow-angle-anime {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  background-size: 100% auto;
}
.flow_angle_cap {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  opacity: 0;
  @include transition( opacity .4s, top .75s ease-out);
  .active & {
    top: 2.5%;
    opacity: 0.5;
  }
  img {
    width: 80%;
  }
}



