.easy-control-demo {
  margin: 0 auto;
  max-width: 1045px;
  position: relative;
  img {
    margin: 0 auto;
  }
  .hand {
    position: absolute;
    top: 5.5%;
    left: -32px;
    width: 528 / 1045 * 100%;
    opacity: 0;
    @include transition( opacity .25s, left .25s ease-out);
    img {
      width: 100%;
      height: auto;
    }
    .active & {
      @include transition( opacity 1.25s ease-in, left 1.25s ease-out);
      opacity: 1;
      left: 3px;
    }
  }
  .humidifier {
    margin: 0 auto;
    @include trailer(.5);
    width: 477 / 1045 * 100%;
    img {
      width: 100%;
      height: auto;
    }
    @include at-breakpoint($desktop) {
      @include trailer(2);
    }
  }
}
