.energy {
  img {
    margin: 0 auto;
  }
}
.energy-line-chart {
  margin: 0 auto;
  max-width: 699px;
  @include trailer(1.5);
  @include at-breakpoint($desktop) {
    @include trailer(5);
  }
  .chart-group {
    position: relative;
    width: 100%;
    padding-top: 246 / 699 * 100%; //chart-bottom的圖片比例
  }
  .chart {
    position: absolute;
    overflow: hidden;
    background-position: left top;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .chart-bottom {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/chart/chart_bottom.png);
  }
  .chart-auto {
    left: 155 / 699 * 100%;
    bottom: 0;
    width: 129 / 699 * 100%;
    height: 37 / 246 * 100%;
    opacity: 0;
    background-image: url(/images/chart/chart_auto.png);
    background-size: contain;
    @include transition(opacity 1.25s);
    .active & {
      opacity: 1;
    }
  }
  .chart-continually {
    left: 460 / 699 * 100%;
    bottom: 0;
    width: 129 / 699 * 100%;
    height: 37 / 246 * 100%;
    opacity: 0;
    background-image: url(/images/chart/chart_continually.png);
    background-size: contain;
    @include transition(opacity 1.25s);
    .active & {
      opacity: 1;
    }
  }
  .chart-blue {
    left: 64 / 699 * 100%;
    bottom: 57.5 / 246 * 100%;
    width: 0;
    height: 130 / 246 * 100%;
    opacity: 0;
    background-image: url(/images/chart/chart_blue.gif);
    @include transition( width 1.25s, opacity 1.25s);
    .active & {
      width: 310 / 699 * 100%;
      opacity: .6;
    }
  }
  .chart-gray {
    left: 373 / 699 * 100%;
    bottom: 57.5 / 246 * 100%;
    width: 0;
    height: 162 / 246 * 100%;
    opacity: 0;
    background-image: url(/images/chart/chart_grey.png);
    @include transition( width 1.25s, opacity 1.25s);
    .active & {
      width: 310 / 699 * 100%;
      opacity: 1;
    }
  }
  .chart-green {
    left: 64 / 699 * 100%;
    bottom: 117 / 246 * 100%;
    z-index: 2;
    width: 0;
    height: 72 / 246 * 100%;
    opacity: .6;
    @include transition( width .1s .1s);
    background-image: url(/images/chart/chart_green.gif);
    .active & {
      @include transition( width 1.75s 1.25s);
      width: 619 / 699 * 100%;
    }
  }
}
// chart retina
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .energy-line-chart {
    .chart-bottom {
      background-image: url(/images/chart/chart_bottom@2x.png);
    }
    .chart-auto {
      background-image: url(/images/chart/chart_auto@2x.png);
    }
    .chart-continually {
      background-image: url(/images/chart/chart_continually@2x.png);
    }
    .chart-green {
      background-image: url(/images/chart/chart_green@2x.gif);
    }
  }
}

.energy-bar-chart {
  @include pie-clearfix;
  @include leader(1);
  max-width: 400px;
  width: 100%;
  @include at-breakpoint($desktop) {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    float: left;
    width: 48px;
    margin-right: 6px;
    border-right: 1px solid #86be48;
    padding-right: 6px;
    @include at-breakpoint($desktop) {
      width: 60px;
    }
  }
  .energy-bars {
    overflow: hidden;
  }
  .energy-bar {
    position: relative;
    @include pie-clearfix;
    @include adjust-font-size-to(13px, 1);
    color: rgba(black, 0.8);
    @include at-breakpoint($desktop) {
      @include adjust-font-size-to(18px, 1.25);
    }
  }
  .date-state {
    @extend %proxima-nava-3;
    position: relative;
    z-index: 3;
    float: left;
    width: 6em;
    background-color: $color-white;
  }
  .date-graph {
    $bar-height: 4px;
    position: absolute;
    z-index: 2;
    top: $base-line-height / 2 - $bar-height / 2;
    width: 100%;
    height: $bar-height;
    background-color: #bbb;
    @include at-breakpoint($desktop) {
      top: 13px;
    }
  }
  .date-count {
    position: relative;
    z-index: 3;
    float: right;
    width: 3em;
    text-align: right;
    background-color: white;
  }
  .auto-mode {
    .date-graph {
      background-color: #86be48;
      width: 65%;
    }
    .date-count {
      color: #86be48;
    }
  }

}
