.energy {
  img {
    margin: 0 auto;
  }
}

.energy-line-chart {
  margin: 0 auto;
  max-width: 699px;
  @include trailer(1.5);
  @include at-breakpoint($desktop) {
    @include trailer(5);
  }
  .chart-group {
    position: relative;
    width: 100%;
    padding-top: 246 / 699 * 100%; //chart-bottom的圖片比例
  }
  .chart {
    position: absolute;
    overflow: hidden;
    background-position: left top;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .chart-bottom {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .chart-auto {
    left: 155 / 699 * 100%;
    bottom: 0;
    width: 129 / 699 * 100%;
    height: 37 / 246 * 100%;
    opacity: 0;
    @include transition(opacity 1s);
    .active & {
      opacity: 1;
    }
  }
  .chart-continually {
    left: 460 / 699 * 100%;
    bottom: 0;
    width: 129 / 699 * 100%;
    height: 37 / 246 * 100%;
    opacity: 0;
    @include transition(opacity 1s);
    .active & {
      opacity: 1;
    }
  }
  .chart-blue {
    left: 63 / 699 * 100%;
    bottom: 56 / 246 * 100%;
    width: 0;
    height: 130 / 246 * 100%;
    opacity: 0;
    @include transition( width 1s, opacity 1s);
    .active & {
      width: 310 / 699 * 100%;
      opacity: 1;
    }
  }
  .chart-gray {
    left: 373 / 699 * 100%;
    bottom: 56 / 246 * 100%;
    width: 0;
    height: 162 / 246 * 100%;
    opacity: 0;
    @include transition( width 1s, opacity 1s);
    .active & {
      width: 310 / 699 * 100%;
      opacity: 1;
    }
  }
  .chart-green {
    left: 64 / 699 * 100%;
    bottom: 117 / 246 * 100%;
    z-index: 2;
    width: 0;
    height: 72 / 246 * 100%;
    opacity: 0;
    @include transition( width .1s .1s, opacity .1s .1s);
    .active & {
      @include transition( width 1s 1s, opacity 1s 1s);
      width: 619 / 699 * 100%;
      opacity: 1;
    }
  }
}


.energy-bar-chart {
  @include pie-clearfix;
  @include leader(1);
  @include at-breakpoint($desktop) {
    min-width: 500px;
    width: columns(6, $total_columns);
    margin-left: auto;
    margin-right: auto;
  }
  img {
    float: left;
    width: 48px;
    margin-right: 6px;
    border-right: 1px solid #86be48;
    padding-right: 6px;
    @include at-breakpoint($desktop) {
      width: 60px;
    }
  }
  .energy-bars {
    overflow: hidden;
  }
  .energy-bar {
    position: relative;
    @include pie-clearfix;
    @include adjust-font-size-to(13px, 1);
    color: rgba(black, 0.8);
    @include at-breakpoint($desktop) {
      @include adjust-font-size-to(18px, 1.25);
    }
  }
  .date-state {
    @extend %proxima-nava-3;
    position: relative;
    z-index: 3;
    float: left;
    width: 6em;
    background-color: #fcfcfc;
  }
  .date-graph {
    $bar-height: 4px;
    position: absolute;
    z-index: 2;
    top: $base-line-height / 2 - $bar-height / 2;
    width: 100%;
    height: $bar-height;
    background-color: #bbb;
    @include at-breakpoint($desktop) {
      top: 13px;
    }
  }
  .date-count {
    position: relative;
    z-index: 3;
    float: right;
    width: 3em;
    text-align: right;
    background-color: white;
  }
  .auto-mode {
    .date-graph {
      background-color: #86be48;
      width: 60%;
    }
    .date-count {
      color: #86be48;
    }
  }

}
