.hero {
  padding: 10% 0;
  text-align: center;
  @include at-breakpoint($desktop) {
    @include padding-leader(5);
    padding-bottom: 0;
    @include trailer(2);
  }

  img {
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    @include at-breakpoint($desktop) {
      max-width: 100%;
      width: auto;
    }
  }

}

.hero-container {
  padding: 0 1em;
  @include at-breakpoint($desktop) {
    width: columns(8);
    margin: 0 auto;
  }
}

.hero-title {
  @include adjust-font-size-to(48px, 2);
  @extend %helvetica-ultralight;
  @include at-breakpoint($desktop) {
    @include adjust-font-size-to(110px, 5);
  }
}
.hero-sub-title {
  @include trailer(.5);
  @include adjust-font-size-to(16px);
  color: #838383;
  @extend %helvetica-light;
  @include at-breakpoint($desktop) {
    @include trailer(1.5);
    @include adjust-font-size-to(36px, 1.5);
  }
}
