.hero {
  padding: 10% 0;
  text-align: center;
  @include at-breakpoint($desktop) {
    @include padding-leader(4);
    // padding-bottom: 0;
    @include padding-trailer(5);
  }

}

.hero-container {
  padding: 0 1em;
  @include at-breakpoint($desktop) {
    width: columns(8);
    margin: 0 auto;
  }
}

.hero-title {
  margin: 0 auto;
  width: 60%;
  @include at-breakpoint($desktop) {
    width: 100%;
  }
  max-width: 100%;
  margin-bottom: 7%;
  h1 {
    margin: 0 auto;
    $breath-logo: "breath-logo.png";
    @include replace-text($breath-logo);
    background-image: none, image-url("breath-logo.svg");
    background-repeat: no-repeat;
    background-position: center top;
    @include background-size(contain);
    width: 100%;
    height: 0;
    padding-top: image-height($breath-logo) / image-width($breath-logo) * 100%;

    @include at-breakpoint($desktop) {
      padding-top: 0;
      width: image-width($breath-logo);
      height: image-height($breath-logo);
    }
  } // h1 end
}

.hero-photo {

  img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 75%;
    position: relative;
    left: -1%;
    @include at-breakpoint($desktop) {
      max-width: 571px;
      width: auto;
      @include trailer(2);
      // left: -10px;
    }
  } // img end
}

.hero-action {
  .playing-video {
    display: inline-block;
    @include adjust-font-size-to(18px);
    color: $logo-color;
    @extend %proxima-nava-4;
    @include at-breakpoint($desktop) {
      @include adjust-font-size-to(32px);
    }
    .wf-active & {
      letter-spacing: -1px;
    }
    &:hover {
      text-decoration: none;
      opacity: .85;
    }
    img {
      margin: 0 auto;
      border: none;
      max-width: 60px;
      width: 100%;
      height: auto;
      @include trailer(.25);
      @include at-breakpoint($desktop) {
        max-width: 123px;
        @include trailer(.5);
      }
    }
  }

}
