.smart {
  padding-top: 0;
  .smart-demo {
    position: relative;
    text-align: center;
  }
  .tab-panel {
    padding-top: 50.5%;
    position: relative;
    overflow: hidden;
    margin-bottom: - 1px;
    background-image: url('/images/smart_bg.jpg');
    @include background-size(cover);
    background-color: #bababa;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .humidifier {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 2;
    margin-left: -14%;
    width: 28%;
    img {
      margin: 0 auto;
      width: 100%;
      height: auto;
    }
  }
  .mist {
    overflow: hidden;
    position: absolute;
    top: -3.5%;
    left: 50%;
    z-index: 3;
    margin-left: -14%;
    padding-top: (560 / 430) * 27.75%;
    width: 28%;
    @include background-size( 100% auto );
    background-position-x: 50%;
  }

  .nav-tabs {
    @include pie-clearfix;
    position: relative;
    z-index: 4;
    display: inline-block;
    margin-top: -14px;
    @include trailer(1.5);
    text-align: center;
    @include at-breakpoint($desktop) {
      margin-top: -26px;
      @include trailer(5);
    }
    li {
      float: left;
      display: inline-block;
      border: 2px solid #ccc;
      background-color: white;
    }
    li:first-child {
      border-right: none;
      @include border-radius(100px 0 0 100px);
    }
    li:last-child {
      border-left: none;
      @include border-radius( 0 100px 100px 0 );
    }
    li > a {
      display: block;
      padding: 3px 20px;
      color: $color-gray;
      @extend %proxima-nava-4;
      @include at-breakpoint($desktop) {
        padding: 0px 24px;
        @include adjust-font-size-to(28px);
      }
      &:hover {
        text-decoration: none;
      }
    }
    .active {
      background-color: #e6e6e6;
      a {
        color: $color-black;
      }
    }
  }

}



