.smart {
  .tab-panel {
    padding-top: 35%;
    @include background-size(cover);
    background-position: center bottom;
    background-repeat: no-repeat;
    @include at-breakpoint($desktop) {
      padding-top: 32.5%;
    }
    @include at-breakpoint($sp) {
      padding-top: 35%;
    }
  }

  .humidifier {
    margin: 0 auto;
    width: 35%;
    @include at-breakpoint($desktop) {
      max-width: 432px;
    }

  }

  .nav-tabs {
    @include trailer(1.5);
    @include pie-clearfix;
    @include at-breakpoint($desktop) {
      @include trailer(5);
    }
    li {
      float: left;
      width: (1/3) * 100%;
      text-align: center;
    }
    li > a {
      display: block;
      padding: 12px 0;
      background-color: #bababa;
      color: white;
      @extend %helvetica-ultralight;
      &:hover {
        text-decoration: none;
        background-color: rgba($logo-color, 0.65);
      }
      @include at-breakpoint($desktop) {
        padding: 24px 0;
        @include adjust-font-size-to(52px);
      }
      @include at-breakpoint($sp) {
        @include adjust-font-size-to(36px);
      }
    }
    .active > a {
      background-color: $logo-color;
      &:hover {
        background-color: $logo-color;
      }
    }
  }
  .smart-icon {
    height: 24px;
    margin: 0 auto;
    @include at-breakpoint($desktop) {
      display: inline-block;
      height: 52px;
      margin-right: 12px;
      vertical-align: text-top;
    }
    @include at-breakpoint($sp) {
      margin-right: 8px;
      height: 36px;
    }
  }

}
