.smart {
  padding-top: 0;
  .smart-demo {
    position: relative;
    text-align: center;
  }
  .tab-content {
    position: relative;
    overflow: hidden;
    @include trailer(1.5);
    padding-top: 52%;
    background-image: url('/images/smart_bg.jpg');
    @include background-size(cover);
    background-color: #bababa;
    background-position: center top;
    background-repeat: no-repeat;
    @include at-breakpoint($desktop) {
      @include trailer(3);
    }
  }
  .mist {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    margin-left: -15%;
    padding-top: (601 / 460) * 30%;
    width: 30%;
    @include background-size( auto 100% );
    background-position: 0 50%;
    background-image: url(/images/mist_merge_horizon.png);
  }
  .humidifier {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 2;
    margin-left: -14%;
    width: 28%;
    &#black-humidifier {
      opacity: 0;
      @include transition(opacity 1s ease-out);
    }
    img {
      margin: 0 auto;
      width: 100%;
      height: auto;
    }
    &#black-humidifier.active {
      opacity: 1;
    }
  }


  .nav-tabs {
    @include pie-clearfix;
    display: inline-block;
    @include trailer(1.5);
    text-align: center;
    border: 1px solid #999;
    background-color: #999;
    @include border-radius(29px);
    @include at-breakpoint($desktop) {
      @include trailer(3.5);
    }
    li {
      float: left;
    }
    li:first-child a {
      padding-left: 30px;
      @include border-radius(29px 0 0 29px);
    }
    li:last-child a {
      padding-right: 30px;
      @include border-radius( 0 29px 29px 0 );
    }
    li > a {
      display: block;
      padding: 3px 20px;
      color: $color-gray;
      @extend %proxima-nava-4;
      background-color: $color-white;
      @include at-breakpoint($desktop) {
        padding: 3px 24px;
        @include adjust-font-size-to(32px);
      }
      &:hover {
        text-decoration: none;
      }
    }
    li.active {
      a {
        background-color: rgba(#e6e6e6, 0.95);
        @include box-shadow(inset 2px 2px 5px rgba(black, .4) );
        color: $color-black;
      }
    }
  }

}



