.spec {
  img {
    margin: 0 auto;
  }
  .block-content {
    @include trailer(1);
  }

  .tech_humidifier {
    @include trailer(1);
  }

  .spec-list {
    @include pie-clearfix;
    @include at-breakpoint($desktop) {
      @include adjust-font-size-to(22px, 2);
    }

    .name {
      float: left;
      width: 49%;
      text-align: right;
      font-family: "Helvetica",
                   "Arial",
                   sans-serif;
      font-weight: lighter;
    }
    .value {
      color: $color-gray;
      float: right;
      width: 49%;
      @extend %helvetica-ultralight;
    }
  }

}

