
.three-way-demo {
  @include trailer(1);
  @include pie-clearfix;
  position: relative;
  @include at-breakpoint($desktop) {
    @include trailer(2);
  }
  img {
    margin-bottom: 0;
  }
  .nav-tabs {
    position: absolute;
    bottom: 0;
    left: 7.5%;
    @include at-breakpoint($desktop) {
      left: 22.5%;
    }
    li {
      position: relative;
    }
    li + li {
      margin-top: 6px;
      @include at-breakpoint($desktop) {
        margin-top: 12px;
      }
    }
    li > a {
      display: block;
      padding: 0px 16px;
      color: $color-gray;
      @include adjust-font-size-to(14px);
      &:hover {
        color: black;
        text-decoration: none;
      }
      @include at-breakpoint($desktop) {
        @include adjust-font-size-to(16px);
      }
    }
    .active > a {
      color: $color-black;
    }
    .active > a:before {
      content: "▶";
      position: absolute;
      top: 0;
      left: 0;
      @include adjust-font-size-to(12px);
    }
  }

  .three-way-demo-text {
    position: absolute;
    bottom: 0;
    right: 3.5%;
    @include adjust-font-size-to(24px, 1.25);
    @extend %helvetica-ultralight;
    @include at-breakpoint($desktop) {
      @include adjust-font-size-to(48px, 2);
    }
    .special {
      @include adjust-font-size-to(28px, 1.25);
      @include at-breakpoint($desktop) {
        @include adjust-font-size-to(60px, 3);
      }
    }
  }
  // 不同狀態下，special 有不同的顏色
  &.low .special {
    color: #fca733;
  }

  .mist {
    margin: 0 auto;
    max-width: 10%;
  }
  .humidifier {
    margin: 0 auto;
    width: 20%;
    max-width: 100px;
    position: relative;
  }
}

