$low-mode-color: #1fcb5f;
$high-mode-color: #29fd2e;
$auto-mode-color: #fafaff;


.three-way-demo {
  @include pie-clearfix;
  position: relative;
  img {
    margin: 0 auto;
  }
  .pills {
    @include pie-clearfix;
    margin: 0 auto;
    @include trailer(1);
    max-width: 210px;
    width: 100%;
    position: relative;
    text-align: center;
    @include at-breakpoint($desktop) {
      max-width: 420px;
      @include trailer(2.5);
    }
    li {
      float: left;
      width: 70px;
      height: 24px;
      @include adjust-font-size-to(18px);
      @extend %proxima-nava-3;
      @include at-breakpoint($desktop) {
        width: 140px;
        height: 60px;
        @include adjust-font-size-to(48px, 2.5);
        font-weight: 100;
      }
    }

    .current-alert {
      position: absolute;
      top: 0;
      left: 139px;
      margin-left: -69px;
      z-index: 1;
      border: 1px solid $logo-color;
      @include border-radius(12px);
      opacity: 0;
      @include transition( left .5s, margin-left .5s, opacity .5s);
      @include at-breakpoint($desktop) {
        left: 278px;
        margin-left: -139px;
        border: 2px solid $logo-color;
        @include border-radius(30px);
      }
      .active & {
        margin-left: 0;
        opacity: 1;
      }
    }

    a {
      display: block;
      color: $color-black;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .water {
    margin: 0 auto;
    @include trailer(.25);
    width: 10%;
    @include transform-origin( 50%, 100% );
    @include at-breakpoint($desktop) {
      @include trailer(.5);
      width: auto;
    }
  }

  .humidifier {
    $radius: 5px;
    position: relative;
    margin: 0 auto;
    width: 14%;
    @include trailer(.5);
    @include at-breakpoint($desktop) {
      @include trailer(2);
      width: auto;
    }
    &:after {
      @include transition(background-color .5s);
      content: "";
      position: absolute;
      top: 77.5%;
      left: 50%;
      margin-left: - $radius;
      width: $radius;
      height: $radius;
      @include border-radius($radius);
      background-color: #ccc;
      @include at-breakpoint($desktop) {
        width: $radius * 2;
        height: $radius * 2;
        @include border-radius( $radius * 2);

      }
    }
  }

  // 不同模式下的 water & humidifier
  .low {
    .water {
      @include transition(.3s);
      @include transform(scale(.5));
    }
    .humidifier:after {
      background-color: $low-mode-color;
    }
    .current-alert {
      left: 0;
    }
  }
  .high {
    .water {
      @include transition(.3s);
      @include transform(scale(1));
    }
    .humidifier:after {
      background-color: $high-mode-color;
    }
    .current-alert {
      left: 69px;
      @include at-breakpoint($desktop) {
        left: 139px;
      }
    }
  }
  .auto {
    .water {
      -webkit-animation-name: autoModeMobile;
      -webkit-animation-duration: 1s;
      -webkit-animation-delay: 0s;
      -webkit-animation-iteration-count: infinite;
      animation-name: autoModeMobile;
      animation-duration: 1s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      @include at-breakpoint($desktop) {
        -webkit-animation-name: autoMode;
        animation-name: autoMode;
      }

    }
    .humidifier:after {
      background-color: $auto-mode-color;
    }
    .current-alert {
      left: 139px;
      @include at-breakpoint($desktop) {
        left: 278px;
      }
    }
  }
}

@-webkit-keyframes autoMode {
  0% {
    -webkit-transform: scale(0.25);
    opacity: 0;
  }
  50% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-140px) scale(.2);
    opacity: 0;
  }
}

@keyframes autoMode {
  0% {
    transform: scale(0.25);
    opacity: 0;
  }
  50% {
    animation-timing-function: ease-in;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-animation-timing-function: ease-out;
    transform: translateY(-140px) scale(.2);
    opacity: 0;
  }
}

@-webkit-keyframes autoModeMobile {
  0% {
    -webkit-transform: scale(0.25);
    opacity: 0;
  }
  50% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-80px) scale(.2);
    opacity: 0;
  }
}

@keyframes autoModeMobile {
  0% {
    transform: scale(0.25);
    opacity: 0;
  }
  50% {
    animation-timing-function: ease-in;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-animation-timing-function: ease-out;
    transform: translateY(-80px) scale(.2);
    opacity: 0;
  }
}
