.block {
  clear: both;
  @include trailer(2);
  border-bottom: 1px solid #ddd;
  @include padding-trailer(2);
}

.block-content {
  text-align: center;
}

.block-title {
  @include trailer(0.125);
  @include adjust-font-size-to(24px, 1);
}

.block-sub-title {
  @include trailer(0.125);
  @include adjust-font-size-to(18px, 1);
  font-weight: lighter;
  color: $color-gray;
}

.block-text {
  @include adjust-font-size-to(14px, 3/4);
  font-weight: lighter;
  color: $color-gray;
}
