$block-content-columns: 8;

.block {
  @include pie-clearfix;
  @include trailer(2);
  @include at-breakpoint($desktop) {
    @include trailer(5);
  }
  &:last-child {
    @include reset-box-model;
  }
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.block-container {
  padding: 0 1em;
  @include trailer(2);
  @include at-breakpoint($desktop) {
    padding: 0 4em;
    @include trailer(5);
  }
}

.block-content {
  text-align: center;
  margin: 0 auto;
  @include at-breakpoint($desktop) {
    max-width: 980px;
    width: columns($block-content-columns);
  }
  @include at-breakpoint($sp2) {
    width: 100%;
    // width: columns(10);
  }
}

.block-content-col2 {
  text-align: left;
  @include at-breakpoint($desktop) {
    @include span-columns( ( $block-content-columns / 2), $block-content-columns);
    @include nth-omega(2n);
  }
  @include at-breakpoint($sp2) {
    @include reset-columns;
    &:nth-child(2n) {
      @include reset-columns;
    }
  }
}


%block-title-font {
  font-size: 24px;
  line-height: 1.2em;
  @include at-breakpoint($desktop) {
    font-size: 50px;
    line-height: 1.125em;
    letter-spacing: -1px;
  }
}

.block-title {
  font-weight: 600;
  @extend %block-title-font;
  @extend %proxima-nava-6;
}

.block-sub-title {
  margin-bottom: .8em;
  @extend %block-title-font;
  @extend %proxima-nava-1;
  @include at-breakpoint($desktop) {
    margin-bottom: .6em;
  }
}

.block-text {
  @include adjust-font-size-to(16px);
  color: $color-black;
  @extend %proxima-nava-4;
  @include at-breakpoint($desktop) {
    @include adjust-font-size-to(26px, 1.75);
    .wf-active & {
      font-weight: 300;
    }
  }
}

