.header {
  @include at-breakpoint($desktop) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
  }
  // outline: 1px dashed red;
}

.header-container {
  @include pie-clearfix;
  @include box-sizing(border-box);
  padding: 0 1em;
  margin: 0 auto;
  transition: box-shadow 1s;
  @include at-breakpoint($desktop) {
    padding: 0 4em;
    // box-shadow: 0 7px 7px -5px rgba(black, 0);
    @include set-container-width();
    @include background(
      linear-gradient( rgba($color-white,1), rgba($color-white,.85) )
    );
  }
}

.logo {
  float: left;
  a {
    display: block;
    margin: 8px auto;
    @include link-colors(#444, rgba(black,.75));
    @include unstyled-link;
    @include replace-text-with-dimensions("logo.png");
    background-image: none, image-url("logo.svg");
    background-repeat: no-repeat;
    @include background-size(contain);
    @include at-breakpoint($desktop) {
      margin: 21.5px auto;
      color: #aaa;
      background: none;
      @include replace-text-with-dimensions("logo_big.png");
      background-image: none, image-url("logo_big.svg");
      @include background-size(contain);
      // 給 affix 的漸變
      @include transition( width .35s, height .35s, margin .35s );
    }
  }
  @include at-breakpoint($desktop) {
    margin-left: -10px;
  }
}

.main-nav-btn {
  display: block;
  float: right;
  @include reset-box-model;
  background-color: transparent;
  @include adjust-font-size-to(16px, 2);
  font-weight: 300;
  @extend %proxima-nava-4;
  color: $header-color;
  cursor: pointer;
  outline: none;
}

.main-nav {
  margin: 0 -20px;
  clear: both;
  text-align: center;
  li {
    border-top: 1px solid #eee;
  }
  li:last-child {
    border-bottom: 1px solid #eee;
  }
  li > a {
    display: block;
    padding: 6px 0;
    color: $header-color;
    text-shadow: 0 0 10px white;
    @extend %proxima-nava-4;
    @include transition( color .25s ease );
    &:hover {
      text-decoration: none;
      color: $logo-color;
    }
  }
  li.active > a {
    background: $logo-color;
    color: white;
    @include at-breakpoint($desktop) {
      color: $logo-color;
      background: transparent;
    }
  }

  @include at-breakpoint($desktop) {
    margin: 0;
    float: right;
    clear: none;
    height: auto !important;
    display: block;
    li {
      float: left;
      border-top: 0;
    }
    li > a {
      // 給 affix 的漸變
      @include transition( margin .35s);
      margin-top: 55px;
      padding: 0px 24px 0;
      @include adjust-font-size-to(22px, 1);
    }
    li:last-child {
      border-bottom: 0;
    }
    li:last-child a{
      padding-right: 0;
    }
  }

}


// affix effect
@include at-breakpoint($desktop) {
  .header.affix {
    // 出陰影
    .header-container {
      box-shadow: 0 7px 7px -5px rgba(black, .05);
      // affix 漸變
      @include transition( box-shadow 1s .35s );
    }
    // 讓logo小一半
    h1.logo {
      @include adjust-font-size-to(12px);
    }
    h1.logo a {
      width: 187 / 2 * 1px;
      height: 53 / 2 * 1px;
      margin: 12px 0 12px -20px;
      text-indent: 150%;
    }
    // 讓右邊連結矮一點
    .main-nav li > a {
      margin-top: 16px;
    }
  }
}
