.header-container {
  @include pie-clearfix;
  @include box-sizing(border-box);
  padding: 0 1em;
  margin: 0 auto;
  @include at-breakpoint($wide-desktop) {
    max-width: ( $total-columns * $column-width ) + ( ($total-columns - 1) * $gutter-width );
    border-bottom: 1px solid #ddd;
    background-color: rgba(white, 0.85);
  }
}

.logo {
  float: left;
  a {
      display: block;
      margin: 8px auto;
      @include link-colors(#444, rgba(black,.75));
      @include unstyled-link;
      @include replace-text-with-dimensions("logo.png");
      background-image: none, image-url("logo.svg");
      background-repeat: no-repeat;
      @include background-size(contain);
  }
}

.nav-btn {
  display: block;
  float: right;
  @include reset-box-model;
  background-color: transparent;
  @include adjust-font-size-to(16px, 2);
  color: $header-color;
  cursor: pointer;
}

.nav {
  clear: both;
  text-align: center;
  li {
    border-bottom: 1px solid #eee;
  }
  li > a {
    display: block;
    padding: 6px 0;
    color: $header-color;
    @include transition( color .25s ease );
    &:hover {
      text-decoration: none;
      color: $logo-color;
    }
  }

  @include at-breakpoint($desktop) {
    float: right;
    clear: none;
    height: auto !important;
    display: block;
    li {
      float: left;
      border-bottom: 0;
    }
    li > a {
      padding: ($base-line-height / 2) $gutter-width;
    }
    li:last-child a{
      padding-right: 0;
    }
  }

}


