.header {
  @include at-breakpoint($desktop) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    padding-bottom: 5px;
  }
}

.header-container {
  @include pie-clearfix;
  @include box-sizing(border-box);
  padding: 0 1em;
  margin: 0 auto;
  transition: box-shadow 1s;
  @include at-breakpoint($desktop) {
    padding: 0 4em;
    box-shadow: 0 7px 7px -5px rgba(black, .1);
    @include set-container-width();
    @include background(
      linear-gradient( rgba(white,1), rgba(white,.85) )
    );
  }
}

.logo {
  float: left;
  a {
    display: block;
    margin: 8px auto;
    @include link-colors(#444, rgba(black,.75));
    @include unstyled-link;
    @include replace-text-with-dimensions("logo.png");
    background-image: none, image-url("logo.svg");
    background-repeat: no-repeat;
    @include background-size(contain);
    @include at-breakpoint($desktop) {
      margin: 21.5px auto;
      color: #aaa;
      background: none;
      @include replace-text-with-dimensions("logo_big.png");
      background-image: none, image-url("logo_big.svg");
    }
  }
}

.nav-btn {
  display: block;
  float: right;
  @include reset-box-model;
  background-color: transparent;
  @include adjust-font-size-to(16px, 2);
  font-weight: 300;
  color: $header-color;
  cursor: pointer;
}

.nav {
  clear: both;
  text-align: center;
  li {
    border-top: 1px solid #eee;
  }
  li:last-child {
    border-bottom: 1px solid #eee;
  }
  li > a {
    font-weight: 300;
    display: block;
    padding: 6px 0;
    color: $header-color;
    @include transition( color .25s ease );
    &:hover {
      text-decoration: none;
      color: $logo-color;
    }
  }
  li.active > a {
    color: $logo-color;
  }

  @include at-breakpoint($desktop) {
    float: right;
    clear: none;
    height: auto !important;
    display: block;
    li {
      float: left;
      border-top: 0;
    }
    li > a {
      padding: 55px 24px 0;
      @include adjust-font-size-to(22px, 1);
    }
    li:last-child {
      border-bottom: 0;
    }
    li:last-child a{
      padding-right: 0;
    }
  }

}


