* html { font-size: 100%; }

html { font-size: 16px; line-height: 24px; }

body { margin: 0; padding: 0; -webkit-transition: background-color 1s; -moz-transition: background-color 1s; -o-transition: background-color 1s; transition: background-color 1s; background: #fcfcfc; }
@media (min-width: 1720px) { body { background-color: #eeeeef; } }

.container { overflow: hidden; background: #fcfcfc; max-width: 65em; padding-left: 0em; padding-right: 0em; margin-left: auto; margin-right: auto; transition: box-shadow 1s; }
.container:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .container { max-width: 99em; } }
@media (min-width: 1720px) { .container { box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); } }
@media (min-width: 768px) { .container { padding-top: 72px; position: relative; } }

.content { min-height: 600px; padding-top: 24px; }
@media (min-width: 768px) { .content { padding-top: 72px; } }
.home .content { padding-top: 0px; }
@media (min-width: 768px) { .home .content { padding-top: 0px; } }

body { font-family: Arial, sans-serif; font-weight: normal; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; border: 0; font-weight: normal; }

h1 { font-size: 32px; line-height: 48px; }

h2 { font-size: 24px; line-height: 48px; }

a { color: #4183c4; text-decoration: none; }
a:hover { text-decoration: underline; }

ul, p { margin: 0; padding: 0; border: 0; }

ul { list-style: none; list-style-position: inside; }

p { margin-bottom: 24px; }

img { border: none; display: block; max-width: 100%; margin-bottom: 24px; }

.capacity-count { font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "proxima-nova-n1", "proxima-nova", "Arial", sans-serif; font-weight: 100; }

.block-title, .resource .title, .contact-roolen .title, .press-carousel .item-title, .timeline-title { font-family: "proxima-nova-n6", "proxima-nova"; font-weight: 600; }
.wf-inactive .block-title, .wf-inactive .resource .title, .resource .wf-inactive .title, .wf-inactive .contact-roolen .title, .contact-roolen .wf-inactive .title, .wf-inactive .press-carousel .item-title, .press-carousel .wf-inactive .item-title, .wf-inactive .timeline-title { font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif; font-weight: bold; }

.main-nav-btn, .main-nav li > a, .block-text, .hero-action .playing-video, .smart .nav-tabs li > a, .spec-list, .scrollspy-nav a, .cooperate-with-us, .resource .text, .contact-roolen .text, .contact-roolen .mail-to, .timeline-item { font-family: "proxima-nova-n4", "proxima-nova"; font-weight: 400; }
.wf-inactive .main-nav-btn, .wf-inactive .main-nav li > a, .main-nav .wf-inactive li > a, .wf-inactive .block-text, .wf-inactive .hero-action .playing-video, .hero-action .wf-inactive .playing-video, .wf-inactive .smart .nav-tabs li > a, .smart .nav-tabs .wf-inactive li > a, .wf-inactive .spec-list, .wf-inactive .scrollspy-nav a, .scrollspy-nav .wf-inactive a, .wf-inactive .cooperate-with-us, .wf-inactive .resource .text, .resource .wf-inactive .text, .wf-inactive .contact-roolen .text, .contact-roolen .wf-inactive .text, .wf-inactive .contact-roolen .mail-to, .contact-roolen .wf-inactive .mail-to, .wf-inactive .timeline-item { font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif; font-weight: normal; }

.copyright, .three-way-demo .pills li, .energy-bar-chart .date-state, .press-title { font-family: "proxima-nova-n3", "proxima-nova"; font-weight: 300; }
.wf-inactive .copyright, .wf-inactive .three-way-demo .pills li, .three-way-demo .pills .wf-inactive li, .wf-inactive .energy-bar-chart .date-state, .energy-bar-chart .wf-inactive .date-state, .wf-inactive .press-title { font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", Arial, sans-serif; font-weight: normal; }

.block-sub-title { font-family: "proxima-nova-n1", "proxima-nova"; font-weight: 100; }
.wf-inactive .block-sub-title { font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", Arial, sans-serif; font-weight: normal; }

.btn { color: #333333; background: #d8d8d8; text-align: center; display: inline-block; padding: 0 0.25em; font-size: 16px; line-height: 24px; border-radius: 3px; box-shadow: 0 2px 0 0 #b5b5b5; cursor: pointer; border: none; }
.btn:hover { text-decoration: none; }
.btn:active { position: relative; top: 2px; box-shadow: none; }

.btn-group .btn { float: left; border-radius: 0; border-right: 1px solid #b5b5b5; }
.btn-group .btn:first-child { border-radius: 3px 0 0 3px; }
.btn-group .btn:last-child { border-radius: 0 3px 3px 0; border-right: 0; }

.pagination { margin-top: 12px; text-align: center; }
.pagination:after { content: ""; display: table; clear: both; }
.pagination li { display: inline-block; margin: 0 0.125em; }
.pagination li a { color: #333333; background: #d8d8d8; text-align: center; display: inline-block; padding: 0.25em 0.75em; font-size: 16px; line-height: 24px; border-radius: 3px; box-shadow: 0 2px 0 0 #b5b5b5; cursor: pointer; }
.pagination li a:hover { text-decoration: none; background-color: #369; }
.pagination li a:active { position: relative; top: 2px; box-shadow: none; }
.pagination li .disable { cursor: default; background-color: #eee; }
.pagination li .disable:hover { background-color: #eee; }
.pagination li .more { padding: 0.25em 0.5em; }
.pagination li .active { background-color: #69c; }

/* alert */
.alert, .alert-success, .alert-wran, .alert-wrong { width: 100%; }
.alert .alert-message, .alert-success .alert-message, .alert-wran .alert-message, .alert-wrong .alert-message { float: left; font-size: 14px; line-height: 24px; }
.alert .alert-message i, .alert-success .alert-message i, .alert-wran .alert-message i, .alert-wrong .alert-message i { margin-right: 6px; }
.alert .close, .alert-success .close, .alert-wran .close, .alert-wrong .close { float: right; border: 0; background-color: transparent; }
@media (min-width: 640px) { .alert, .alert-success, .alert-wran, .alert-wrong { line-height: 36px; }
  .alert .alert-message, .alert-success .alert-message, .alert-wran .alert-message, .alert-wrong .alert-message { font-size: 16px; line-height: 36px; }
  .alert .close, .alert-success .close, .alert-wran .close, .alert-wrong .close { float: right; padding: 9px 0; border: 0; background-color: transparent; color: #777; }
  .alert .close:hover, .alert .close:active, .alert-success .close:hover, .alert-success .close:active, .alert-wran .close:hover, .alert-wran .close:active, .alert-wrong .close:hover, .alert-wrong .close:active { color: #444; } }

.alert { background-color: rgba(0, 0, 0, 0.15); }

.alert-success { color: green; background-color: rgba(0, 128, 0, 0.3); }

.alert-wran { color: #e67e22; background-color: rgba(255, 165, 0, 0.3); }

.alert-wrong { color: #e5412d; background-color: rgba(255, 0, 0, 0.3); }

input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 36px; }
input:focus { outline: none; background: #ffe; }

textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
textarea:focus { outline: none; background: #ffe; }

select { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dddddd; height: 36px; }

.form-control { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dddddd; padding: 5px; font-size: 16px; line-height: 24px; }
.form-control:focus { outline: none; background: #ffe; }

.form-horizontal .form-group:after { content: ""; display: table; clear: both; }
.form-horizontal .form-group + .form-group { margin-top: 12px; }
.form-horizontal label, .form-horizontal .form-label { display: block; font-size: 14px; line-height: 24px; }
.form-horizontal .form-controls img { margin-bottom: 0; margin-right: 12px; float: left; }
.form-horizontal .form-control { width: 100%; }
.form-horizontal .form-description { margin-top: 6px; font-size: 12px; line-height: 16px; color: #aaa; }
.form-horizontal .form-controuls-item { overflow: hidden; }
@media (min-width: 640px) { .form-horizontal .form-group + .form-group { margin-top: 24px; }
  .form-horizontal label, .form-horizontal .form-label { padding: 6px 0; margin-right: 1em; float: left; text-align: right; }
  .form-horizontal .form-controls { overflow: hidden; } }

.form-vertical .form-group:after { content: ""; display: table; clear: both; }
.form-vertical .form-group + .form-group { margin-top: 12px; }
.form-vertical label, .form-vertical .form-label { display: block; font-size: 14px; line-height: 24px; }
.form-vertical textarea { min-height: 120px; }
.form-vertical .form-controls img { margin-bottom: 0; margin-right: 12px; float: left; }
.form-vertical .form-control { width: 100%; }
.form-vertical .form-description { margin-top: 6px; font-size: 12px; line-height: 16px; color: #aaa; }
.form-vertical .form-controuls-item { overflow: hidden; }

.dropdown { display: block; position: relative; }
.dropdown.open .dropdown-btn { background-color: #eeeeef; }
.dropdown.open .dropdown-menu { background-color: #eeeeef; display: block; }

.dropdown-btn { outline: none 0 !important; display: block; padding: 6px 1em; text-align: right; }
.dropdown-btn:after { content: ""; display: table; clear: both; }
.dropdown-btn img { float: left; margin-bottom: 0; margin-right: 6px; }
.dropdown-btn .dropdown-title { float: left; margin-right: 6px; text-align: left; }
.dropdown-btn .dropdown-title:after { content: ""; display: inline-block; vertical-align: middle; width: 0px; height: 0px; margin-left: 6px; border-style: solid; border-width: 6px 6px 0 6px; border-color: #ccc transparent transparent transparent; }

.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 150; display: none; min-width: 120%; padding: 12px 0; float: left; }
.dropdown-menu li { font-size: 14px; line-height: 24px; }
.dropdown-menu li > a { display: block; padding: 6px 1em; white-space: nowrap; }
.dropdown-menu li > a:hover { background-color: black; color: white; text-decoration: none; }
.dropdown-menu li.dropdown-menu-list-divider { margin: 6px 0; height: 1px; background-color: black; }
.dropdown-menu.pull-right { left: auto; right: 0; }

.collapse { display: none; }
.collapse.in { display: block; }

.collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -o-transition: 0.15s ease; transition: 0.15s ease; }

.tab-panel, .pill-panel { display: none; }

.split-line { height: 1px; margin: 0 auto; background-image: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 65, color-stop(50%, rgba(0, 0, 0, 0.125)), color-stop(65%, rgba(0, 0, 0, 0))); background-image: -webkit-radial-gradient(100% 100%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 65%); background-image: -moz-radial-gradient(100% 100%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 65%); background-image: -o-radial-gradient(100% 100%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 65%); background-image: radial-gradient(100% 100%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 65%); }

@media (min-width: 768px) { .header { position: fixed; top: 0; left: 0; right: 0; z-index: 100; width: 100%; } }

.header-container { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 1em; margin: 0 auto; transition: box-shadow 1s; }
.header-container:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .header-container { padding: 0 4em; max-width: 99em; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, rgba(252, 252, 252, 0.85))); background: -webkit-linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85)); background: -moz-linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85)); background: -o-linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85)); background: linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85)); } }

.logo { float: left; }
.logo a { display: block; margin: 8px auto; color: #444444; color: inherit; text-decoration: inherit; cursor: inherit; text-indent: 110%; white-space: nowrap; overflow: hidden; background-image: url('/images/logo.png?1378783356'); background-repeat: no-repeat; background-position: 50% 50%; width: 110px; height: 32px; background-image: none, url('/images/logo.svg?1378783360'); background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; }
.logo a:hover { color: rgba(0, 0, 0, 0.75); }
.logo a:active, .logo a:focus { outline: none; }
@media (min-width: 768px) { .logo a { margin: 21.5px auto; color: #aaa; background: none; text-indent: 110%; white-space: nowrap; overflow: hidden; background-image: url('/images/logo_big.png?1378889718'); background-repeat: no-repeat; background-position: 50% 50%; width: 187px; height: 53px; background-image: none, url('/images/logo_big.svg?1378890059'); -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-transition: width 0.35s, height 0.35s, margin 0.35s; -moz-transition: width 0.35s, height 0.35s, margin 0.35s; -o-transition: width 0.35s, height 0.35s, margin 0.35s; transition: width 0.35s, height 0.35s, margin 0.35s; } }
@media (min-width: 768px) { .logo { margin-left: -10px; } }

.main-nav-btn { display: block; float: right; margin: 0; padding: 0; border: 0; background-color: transparent; font-size: 16px; line-height: 48px; font-weight: 300; color: #999999; cursor: pointer; outline: none; }

.main-nav { margin: 0 -20px; clear: both; text-align: center; }
.main-nav li { border-top: 1px solid #eee; }
.main-nav li:last-child { border-bottom: 1px solid #eee; }
.main-nav li > a { display: block; padding: 6px 0; color: #999999; text-shadow: 0 0 10px white; -webkit-transition: color 0.25s ease; -moz-transition: color 0.25s ease; -o-transition: color 0.25s ease; transition: color 0.25s ease; }
.main-nav li > a:hover { text-decoration: none; color: #6baec9; }
.main-nav li.active > a { background: #6baec9; color: white; }
@media (min-width: 768px) { .main-nav li.active > a { color: #6baec9; background: transparent; } }
@media (min-width: 768px) { .main-nav { margin: 0; float: right; clear: none; height: auto !important; display: block; }
  .main-nav li { float: left; border-top: 0; }
  .main-nav li > a { -webkit-transition: margin 0.35s; -moz-transition: margin 0.35s; -o-transition: margin 0.35s; transition: margin 0.35s; margin-top: 55px; padding: 0px 24px 0; font-size: 22px; line-height: 24px; }
  .main-nav li:last-child { border-bottom: 0; }
  .main-nav li:last-child a { padding-right: 0; } }

@media (min-width: 768px) { .header.affix .header-container { box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.05); -webkit-transition: box-shadow 1s; -webkit-transition-delay: 0.35s; -moz-transition: box-shadow 1s 0.35s; -o-transition: box-shadow 1s 0.35s; transition: box-shadow 1s 0.35s; }
  .header.affix .logo { font-size: 12px; line-height: 24px; }
  .header.affix .logo a { width: 93.5px; height: 26.5px; margin: 12px 0 12px -20px; text-indent: 150%; }
  .header.affix .main-nav li > a { margin-top: 16px; } }
.footer { position: relative; text-align: center; }

.footer-container { padding: 3em 1em; background-color: #f2f2f2; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(68, 68, 68, 0.1)), color-stop(100%, rgba(68, 68, 68, 0))); background-image: -webkit-linear-gradient(rgba(68, 68, 68, 0.1), rgba(68, 68, 68, 0)); background-image: -moz-linear-gradient(rgba(68, 68, 68, 0.1), rgba(68, 68, 68, 0)); background-image: -o-linear-gradient(rgba(68, 68, 68, 0.1), rgba(68, 68, 68, 0)); background-image: linear-gradient(rgba(68, 68, 68, 0.1), rgba(68, 68, 68, 0)); }

.home-link { display: block; margin: 0 auto; margin-bottom: 18px; text-indent: 110%; white-space: nowrap; overflow: hidden; background-image: url('/images/footer/bottom_logo.png?1380780321'); background-repeat: no-repeat; background-position: 50% 50%; width: 82px; height: 24px; background-image: none, url('/images/footer/bottom_logo.svg?1379323852'); background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; }
@media (min-width: 768px) { .home-link { margin-bottom: 12px; } }
.home-link img { margin: 0 auto; }

.social-link-group { display: inline-block; margin-bottom: 12px; }
@media (min-width: 768px) { .social-link-group { position: absolute; top: 50%; right: 4em; margin-top: -36px; } }
.social-link-group li { display: inline-block; margin: 0 .25em; width: 48px; }
@media (min-width: 768px) { .social-link-group li { margin: 0 .25em; width: auto; } }
.social-link-group img { border: none; margin: 0 auto; }

.copyright { font-size: 14px; line-height: 24px; color: #999; }

.block { padding-top: 48px; }
.block:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .block { padding-top: 120px; } }
.block:first-child { margin: 0; padding: 0; border: 0; }
.block img { margin-left: auto; margin-right: auto; }

.block-container { padding: 0 1em; margin-bottom: 48px; }
@media (min-width: 768px) { .block-container { padding: 0 4em; margin-bottom: 120px; } }

.block-content { text-align: center; margin: 0 auto; }
@media (min-width: 768px) { .block-content { max-width: 980px; } }
@media (min-width: 768px) and (max-width: 1400px) { .block-content { max-width: 800px; } }

.block-title, .block-sub-title { font-size: 26px; line-height: 1.2em; }
@media (min-width: 768px) { .block-title, .block-sub-title { font-size: 46px; line-height: .9em; }
  .wf-active .block-title, .wf-active .block-sub-title { letter-spacing: -1px; } }

.block-sub-title { font-size: 24px; }
@media (min-width: 768px) { .block-sub-title { font-size: 38px; line-height: 1.125em; } }

.block-title { font-weight: 600; margin-bottom: .125em; }

.block-title-background-line { position: relative; }
.block-title-background-line:before { content: ""; display: block; position: absolute; top: 50%; left: 0; margin-top: -1px; width: 100%; height: 2px; background-color: #444444; }
.block-title-background-line span { position: relative; z-index: 1; background-color: #fcfcfc; padding: 0 .5em; }
@media (min-width: 768px) { .block-title-background-line span { padding: 0 55px; } }

.block-sub-title { margin-bottom: .8em; }
@media (min-width: 768px) { .block-sub-title { margin-bottom: 36px; } }

.block-text { font-size: 16px; line-height: 24px; color: #444444; }
@media (min-width: 768px) { .block-text { font-size: 24px; line-height: 40px; font-family: "proxima-nova-n3", "proxima-nova", "HelveticaNeue-Light", sans-serif; font-weight: 300; } }

.carousel { max-width: 980px; margin: 0 auto; }

.carousel-slide { position: relative; margin: 0 1em; }
@media (min-width: 768px) { .carousel-slide { min-width: 600px; } }

.carousel-inner { position: relative; overflow: hidden; margin: 0 auto; width: 80%; }
.carousel-inner > .item { display: none; position: relative; -webkit-transition: left 0.6s; -moz-transition: left 0.6s; -o-transition: left 0.6s; transition: left 0.6s; }
.carousel-inner > .item img { margin: 0 auto; width: auto; height: auto; }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0; }
.carousel-inner > .next, .carousel-inner > .prev { position: absolute; top: 0; width: 100%; }
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.left, .carousel-inner > .prev.right { left: 0; }
.carousel-inner > .active.left { left: -100%; }
.carousel-inner > .active.right { left: 100%; }

.carousel-indicators { text-align: center; }
.carousel-indicators li { display: inline-block; margin: 6px; width: 10px; height: 10px; background-color: #999; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; cursor: pointer; }
@media (min-width: 768px) { .carousel-indicators li { margin: 12px; width: 16px; height: 16px; } }
.carousel-indicators li.active { background-color: #6baec9; }

.carousel-control { position: absolute; top: 37.5%; z-index: 2; width: 7.5%; color: #6a6a6a; }
.carousel-control img { border: none; margin: 0 auto; }
.carousel-control:hover { text-decoration: none; }
.carousel-control.left { left: 0; }
.carousel-control.right { right: 0; }

.hero { padding: 10% 0; text-align: center; }
@media (min-width: 768px) { .hero { padding-top: 96px; padding-bottom: 120px; } }

.hero-container { padding: 0 1em; }
@media (min-width: 768px) { .hero-container { width: 65.65657%; margin: 0 auto; } }

.hero-title { margin: 0 auto; width: 60%; max-width: 100%; margin-bottom: 7%; }
@media (min-width: 768px) { .hero-title { width: 100%; } }
.hero-title h1 { margin: 0 auto; text-indent: 110%; white-space: nowrap; overflow: hidden; background-image: url('/images/breath-logo.png?1380784072'); background-repeat: no-repeat; background-position: 50% 50%; background-image: none, url('/images/breath-logo.svg?1380784072'); background-repeat: no-repeat; background-position: center top; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; width: 100%; height: 0; padding-top: 36.36364%; }
@media (min-width: 768px) { .hero-title h1 { padding-top: 0; width: 440px; height: 160px; } }

.hero-photo img { margin: 0 auto; width: 100%; max-width: 75%; position: relative; left: -1%; }
@media (min-width: 768px) { .hero-photo img { max-width: 100%; width: auto; margin-bottom: 48px; } }

.hero-action .playing-video { display: inline-block; font-size: 18px; line-height: 24px; color: #6baec9; }
@media (min-width: 768px) { .hero-action .playing-video { font-size: 32px; line-height: 48px; } }
.wf-active .hero-action .playing-video { letter-spacing: -1px; }
.hero-action .playing-video:hover { text-decoration: none; opacity: .85; }
.hero-action .playing-video img { margin: 0 auto; border: none; max-width: 60px; margin-bottom: 6px; }
@media (min-width: 768px) { .hero-action .playing-video img { max-width: none; margin-bottom: 12px; } }

.smart { padding-top: 0; }
.smart .smart-demo { position: relative; text-align: center; }
.smart .tab-content { position: relative; overflow: hidden; margin-bottom: 36px; padding-top: 52%; background-image: url("/images/smart_bg.jpg"); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-color: #bababa; background-position: center top; background-repeat: no-repeat; }
@media (min-width: 768px) { .smart .tab-content { margin-bottom: 72px; } }
.smart .mist { overflow: hidden; position: absolute; top: 0; left: 50%; z-index: 3; margin-left: -15%; padding-top: 39.19565%; width: 30%; -webkit-background-size: auto 100%; -moz-background-size: auto 100%; -o-background-size: auto 100%; background-size: auto 100%; background-position: 0 50%; background-image: url(/images/mist_merge_horizon.png); }
.smart .humidifier { display: block; position: absolute; left: 50%; bottom: 0; z-index: 2; margin-left: -14%; width: 28%; }
.smart .humidifier#black-humidifier { opacity: 0; -webkit-transition: opacity 1s ease-out; -moz-transition: opacity 1s ease-out; -o-transition: opacity 1s ease-out; transition: opacity 1s ease-out; }
.smart .humidifier img { margin: 0 auto; width: 100%; height: auto; }
.smart .humidifier#black-humidifier.active { opacity: 1; }
.smart .nav-tabs { display: inline-block; margin-bottom: 36px; text-align: center; border: 1px solid #999; background-color: #999; -webkit-border-radius: 29px; -moz-border-radius: 29px; -ms-border-radius: 29px; -o-border-radius: 29px; border-radius: 29px; }
.smart .nav-tabs:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .smart .nav-tabs { margin-bottom: 84px; } }
.smart .nav-tabs li { float: left; }
.smart .nav-tabs li:first-child a { padding-left: 30px; -webkit-border-radius: 29px 0 0 29px; -moz-border-radius: 29px 0 0 29px; -ms-border-radius: 29px 0 0 29px; -o-border-radius: 29px 0 0 29px; border-radius: 29px 0 0 29px; }
.smart .nav-tabs li:last-child a { padding-right: 30px; -webkit-border-radius: 0 29px 29px 0; -moz-border-radius: 0 29px 29px 0; -ms-border-radius: 0 29px 29px 0; -o-border-radius: 0 29px 29px 0; border-radius: 0 29px 29px 0; }
.smart .nav-tabs li > a { display: block; padding: 3px 20px; color: #aaaaaa; background-color: #fcfcfc; }
@media (min-width: 768px) { .smart .nav-tabs li > a { padding: 3px 24px; font-size: 32px; line-height: 48px; } }
.smart .nav-tabs li > a:hover { text-decoration: none; }
.smart .nav-tabs li.active a { background-color: rgba(230, 230, 230, 0.95); -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4); box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4); color: #444444; }

.capacity img { margin: 0 auto; max-width: 50%; }
@media (min-width: 768px) { .capacity img { max-width: none; margin-bottom: -20px; } }

.capacity-count { margin-bottom: 12px; text-align: center; color: #6baec9; }
@media (min-width: 768px) { .capacity-count { margin-bottom: 24px; } }
.capacity-count .count { font-size: 70px; line-height: 48px; letter-spacing: -2px; }
@media (min-width: 768px) { .capacity-count .count { font-size: 110px; line-height: 96px; } }
.capacity-count .unit { margin-left: 5px; font-size: 46px; line-height: 48px; }
@media (min-width: 768px) { .capacity-count .unit { font-size: 66px; line-height: 96px; } }

.three-way-demo { position: relative; }
.three-way-demo:after { content: ""; display: table; clear: both; }
.three-way-demo img { margin: 0 auto; }
.three-way-demo .pills { margin: 0 auto; margin-bottom: 24px; max-width: 210px; width: 100%; position: relative; text-align: center; }
.three-way-demo .pills:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .three-way-demo .pills { max-width: 420px; margin-bottom: 60px; } }
.three-way-demo .pills li { float: left; width: 70px; height: 24px; font-size: 18px; line-height: 24px; }
@media (min-width: 768px) { .three-way-demo .pills li { width: 140px; height: 60px; font-size: 48px; line-height: 60px; font-weight: 100; } }
.three-way-demo .pills .current-alert { position: absolute; top: 0; margin-left: -69px; -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); z-index: 1; border: 1px solid #6baec9; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; border-radius: 12px; opacity: 0; -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, margin-left 0.5s; -moz-transition: -moz-transform 0.5s, opacity 0.5s, margin-left 0.5s; -o-transition: -o-transform 0.5s, opacity 0.5s, margin-left 0.5s; transition: transform 0.5s, opacity 0.5s, margin-left 0.5s; }
@media (min-width: 768px) { .three-way-demo .pills .current-alert { margin-left: -139px; border: 2px solid #6baec9; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; } }
.active .three-way-demo .pills .current-alert { margin-left: 0; opacity: 1; }
.three-way-demo .pills a { display: block; color: #444444; }
.three-way-demo .pills a:hover { text-decoration: none; }
.three-way-demo .water { opacity: 0; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; margin: 0 auto; margin-bottom: 6px; width: 10%; height: auto; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }
@media (min-width: 768px) { .three-way-demo .water { margin-bottom: 12px; max-width: 96px; width: auto; height: auto; } }
.three-way-demo .humidifier { position: relative; margin: 0 auto; width: 14%; height: auto; margin-bottom: 12px; }
@media (min-width: 768px) { .three-way-demo .humidifier { margin-bottom: 48px; width: auto; height: auto; } }
.three-way-demo .humidifier:after { -webkit-transition: background-color 0.5s; -moz-transition: background-color 0.5s; -o-transition: background-color 0.5s; transition: background-color 0.5s; content: ""; position: absolute; top: 77.5%; left: 50%; margin-left: -2.5px; width: 5px; height: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: #ccc; }
@media (min-width: 768px) { .three-way-demo .humidifier:after { width: 10px; height: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; } }
.active .three-way-demo .low .water { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 1; }
.active .three-way-demo .low .humidifier:after { background-color: #1fcb5f; }
.active .three-way-demo .low .current-alert { left: 0; }
.active .three-way-demo .high .water { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); opacity: 1; }
.active .three-way-demo .high .humidifier:after { background-color: #29fd2e; }
.active .three-way-demo .high .current-alert { -webkit-transform: translateX(69px); -moz-transform: translateX(69px); -ms-transform: translateX(69px); -o-transform: translateX(69px); transform: translateX(69px); }
@media (min-width: 768px) { .active .three-way-demo .high .current-alert { -webkit-transform: translateX(139px); -moz-transform: translateX(139px); -ms-transform: translateX(139px); -o-transform: translateX(139px); transform: translateX(139px); } }
.active .three-way-demo .auto .water { opacity: .95; -webkit-animation-name: autoModeMobile; -webkit-animation-duration: 1s; -webkit-animation-delay: 0s; -webkit-animation-iteration-count: infinite; animation-name: autoModeMobile; animation-duration: 1s; animation-delay: 0s; animation-iteration-count: infinite; }
@media (min-width: 768px) { .active .three-way-demo .auto .water { -webkit-animation-name: autoMode; animation-name: autoMode; } }
.active .three-way-demo .auto .humidifier:after { background-color: #fafaff; }
.active .three-way-demo .auto .current-alert { -webkit-transform: translateX(139px); -moz-transform: translateX(139px); -ms-transform: translateX(139px); -o-transform: translateX(139px); transform: translateX(139px); }
@media (min-width: 768px) { .active .three-way-demo .auto .current-alert { -webkit-transform: translateX(278px); -moz-transform: translateX(278px); -ms-transform: translateX(278px); -o-transform: translateX(278px); transform: translateX(278px); } }

@-webkit-keyframes autoMode { 0% { -webkit-transform: scale(0.25); opacity: 0; }
  50% { -webkit-animation-timing-function: ease-in; -webkit-transform: scale(1); opacity: 1; }
  100% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(-140px) scale(0.2); opacity: 0; } }

@keyframes autoMode { 0% { transform: scale(0.25); opacity: 0; }
  50% { animation-timing-function: ease-in; transform: scale(1); opacity: 1; }
  100% { -webkit-animation-timing-function: ease-out; transform: translateY(-140px) scale(0.2); opacity: 0; } }

@-webkit-keyframes autoModeMobile { 0% { -webkit-transform: scale(0.25); opacity: 0; }
  50% { -webkit-animation-timing-function: ease-in; -webkit-transform: scale(1); opacity: 1; }
  100% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(-80px) scale(0.2); opacity: 0; } }

@keyframes autoModeMobile { 0% { transform: scale(0.25); opacity: 0; }
  50% { animation-timing-function: ease-in; transform: scale(1); opacity: 1; }
  100% { -webkit-animation-timing-function: ease-out; transform: translateY(-80px) scale(0.2); opacity: 0; } }

.energy img { margin: 0 auto; }

.energy-line-chart { margin: 0 auto; max-width: 699px; margin-bottom: 36px; }
@media (min-width: 768px) { .energy-line-chart { margin-bottom: 120px; } }
.energy-line-chart .chart-group { position: relative; width: 100%; padding-top: 35.19313%; }
.energy-line-chart .chart { position: absolute; overflow: hidden; background-position: left top; background-size: auto 100%; background-repeat: no-repeat; }
.energy-line-chart .chart-bottom { top: 0; left: 0; width: 100%; height: 100%; background-image: url(/images/chart/chart_bottom.png); }
.energy-line-chart .chart-auto { left: 22.17454%; bottom: 0; width: 18.45494%; height: 15.04065%; opacity: 0; background-image: url(/images/chart/chart_auto.png); background-size: contain; -webkit-transition: opacity 1.25s; -moz-transition: opacity 1.25s; -o-transition: opacity 1.25s; transition: opacity 1.25s; }
.active .energy-line-chart .chart-auto { opacity: 1; }
.energy-line-chart .chart-continually { left: 65.8083%; bottom: 0; width: 18.45494%; height: 15.04065%; opacity: 0; background-image: url(/images/chart/chart_continually.png); background-size: contain; -webkit-transition: opacity 1.25s; -moz-transition: opacity 1.25s; -o-transition: opacity 1.25s; transition: opacity 1.25s; }
.active .energy-line-chart .chart-continually { opacity: 1; }
.energy-line-chart .chart-blue { left: 9.15594%; bottom: 23.37398%; width: 0; height: 52.84553%; opacity: 0; background-image: url(/images/chart/chart_blue.gif); -webkit-transition: width 1.25s, opacity 1.25s; -moz-transition: width 1.25s, opacity 1.25s; -o-transition: width 1.25s, opacity 1.25s; transition: width 1.25s, opacity 1.25s; }
.active .energy-line-chart .chart-blue { width: 44.34907%; opacity: .6; }
.energy-line-chart .chart-gray { left: 53.36195%; bottom: 23.37398%; width: 0; height: 65.85366%; opacity: 0; background-image: url(/images/chart/chart_grey.png); -webkit-transition: width 1.25s, opacity 1.25s; -moz-transition: width 1.25s, opacity 1.25s; -o-transition: width 1.25s, opacity 1.25s; transition: width 1.25s, opacity 1.25s; }
.active .energy-line-chart .chart-gray { width: 44.34907%; opacity: 1; }
.energy-line-chart .chart-green { left: 9.15594%; bottom: 47.56098%; z-index: 2; width: 0; height: 29.26829%; opacity: .6; -webkit-transition: width 0.1s; -webkit-transition-delay: 0.1s; -moz-transition: width 0.1s 0.1s; -o-transition: width 0.1s 0.1s; transition: width 0.1s 0.1s; background-image: url(/images/chart/chart_green.gif); }
.active .energy-line-chart .chart-green { -webkit-transition: width 1.75s; -webkit-transition-delay: 1.25s; -moz-transition: width 1.75s 1.25s; -o-transition: width 1.75s 1.25s; transition: width 1.75s 1.25s; width: 88.55508%; }

@media all and (-webkit-min-device-pixel-ratio: 2) { .energy-line-chart .chart-bottom { background-image: url(/images/chart/chart_bottom@2x.png); }
  .energy-line-chart .chart-auto { background-image: url(/images/chart/chart_auto@2x.png); }
  .energy-line-chart .chart-continually { background-image: url(/images/chart/chart_continually@2x.png); }
  .energy-line-chart .chart-green { background-image: url(/images/chart/chart_green@2x.gif); } }
.energy-bar-chart { margin-top: 24px; max-width: 400px; width: 100%; }
.energy-bar-chart:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .energy-bar-chart { margin-left: auto; margin-right: auto; } }
.energy-bar-chart img { float: left; width: 48px; margin-right: 6px; border-right: 1px solid #86be48; padding-right: 6px; }
@media (min-width: 768px) { .energy-bar-chart img { width: 60px; } }
.energy-bar-chart .energy-bars { overflow: hidden; }
.energy-bar-chart .energy-bar { position: relative; font-size: 13px; line-height: 24px; color: rgba(0, 0, 0, 0.8); }
.energy-bar-chart .energy-bar:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .energy-bar-chart .energy-bar { font-size: 18px; line-height: 30px; } }
.energy-bar-chart .date-state { position: relative; z-index: 3; float: left; width: 6em; background-color: #fcfcfc; }
.energy-bar-chart .date-graph { position: absolute; z-index: 2; top: 10px; width: 100%; height: 4px; background-color: #bbb; }
@media (min-width: 768px) { .energy-bar-chart .date-graph { top: 13px; } }
.energy-bar-chart .date-count { position: relative; z-index: 3; float: right; width: 3em; text-align: right; background-color: white; }
.energy-bar-chart .auto-mode .date-graph { background-color: #86be48; width: 65%; }
.energy-bar-chart .auto-mode .date-count { color: #86be48; }

.easy-control-demo { margin: 0 auto; max-width: 1045px; position: relative; }
.easy-control-demo img { margin: 0 auto; }
.easy-control-demo .hand { position: absolute; top: 5.5%; left: -32px; width: 50.52632%; opacity: 0; -webkit-transition: opacity 0.25s, left 0.25s ease-out; -moz-transition: opacity 0.25s, left 0.25s ease-out; -o-transition: opacity 0.25s, left 0.25s ease-out; transition: opacity 0.25s, left 0.25s ease-out; }
.active .easy-control-demo .hand { -webkit-transition: opacity 1.25s ease-in, left 1.25s ease-out; -moz-transition: opacity 1.25s ease-in, left 1.25s ease-out; -o-transition: opacity 1.25s ease-in, left 1.25s ease-out; transition: opacity 1.25s ease-in, left 1.25s ease-out; opacity: 1; left: 3px; }
.easy-control-demo .humidifier { margin: 0 auto; margin-bottom: 12px; width: 45.64593%; }
@media (min-width: 768px) { .easy-control-demo .humidifier { margin-bottom: 48px; } }

.components img { margin: 0 auto; }

.components-demo { max-width: 815px; margin: 0 auto; margin-bottom: 48px; }
.components-demo:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .components-demo { margin-bottom: 108px; } }

.flow-side { position: relative; float: left; width: 58%; max-width: 474px; }

.flow-side-fan { position: absolute; top: 43.5%; left: 35.5%; z-index: 2; max-width: 25%; }
.active .flow-side-fan { -webkit-animation-name: fan; -webkit-animation-duration: 1.5s; /*动画持续时间*/ -webkit-animation-delay: 0s; /*动画延迟时间*/ -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; animation-name: fan; animation-duration: 1.5s; /*动画持续时间*/ animation-delay: 0s; /*动画延迟时间*/ animation-iteration-count: infinite; animation-timing-function: linear; }

@-webkit-keyframes fan { 100% { -webkit-transform: rotate(360deg); } }

@keyframes fan { 100% { transform: rotate(360deg); } }

.flow-side-fancover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 4; opacity: 0.9; }

.flow-side-anime { position: absolute; width: 100%; height: 100%; overflow: hidden; z-index: 3; background-size: 100% auto; background-image: url(/images/flow/flow_side.png); }
.active .flow-side-anime { background-image: url(/images/flow/flow_side_merge.png); }

.flow-angle { position: relative; max-width: 340px; width: 42%; float: right; }

.flow-angle-anime { position: absolute; width: 100%; height: 100%; z-index: 3; overflow: hidden; background-image: none; background-size: 100% auto; }
.active .flow-angle-anime { background-image: url(/images/flow/flow_angle_merge.png); }

.flow_angle_cap { position: absolute; top: 0; z-index: 4; width: 100%; height: 100%; opacity: 0; -webkit-transition: opacity 0.4s, top 0.75s ease-out; -moz-transition: opacity 0.4s, top 0.75s ease-out; -o-transition: opacity 0.4s, top 0.75s ease-out; transition: opacity 0.4s, top 0.75s ease-out; }
.active .flow_angle_cap { top: 2.5%; opacity: 0.5; }
.flow_angle_cap img { width: 80%; }

.future-carousel { margin-bottom: 24px; }
@media (min-width: 768px) { .future-carousel { margin-bottom: 36px; } }
.future-carousel .carousel-slide { margin-bottom: 12px; }

.spec { margin-bottom: 0; }
.spec img { margin: 0 auto; }
.spec .tech_humidifier { margin-top: 24px; margin-bottom: 24px; }
@media (min-width: 768px) { .spec .tech_humidifier { margin-top: 60px; margin-bottom: 60px; } }

.spec-list { font-size: 13px; line-height: 16px; }
.spec-list:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .spec-list { font-size: 22px; line-height: 24px; }
  .wf-active .spec-list { font-weight: 300; } }
.spec-list li { padding: 4px 0; }
.spec-list li:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .spec-list li { padding: 6px 0; } }
.spec-list .name { float: left; width: 49%; text-align: right; }
.spec-list .value { color: #aaaaaa; float: right; width: 49%; }

.home-bottom { margin-bottom: 0; }
.home-bottom img { margin: 0 auto; max-width: 80%; }

.scrollspy-nav { display: none; position: absolute; right: 48px; z-index: 1; }
@media (min-width: 768px) { .scrollspy-nav { display: block; } }
.scrollspy-nav ul { position: fixed; top: 50%; margin-top: -120px; }
.scrollspy-nav a { position: relative; display: block; width: 24px; height: 24px; color: rgba(0, 0, 0, 0.5); }
.scrollspy-nav a:after { content: ""; display: table; clear: both; }
.scrollspy-nav .dot { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 -4px; display: block; width: 8px; height: 8px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background-color: rgba(0, 0, 0, 0.25); -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
.scrollspy-nav .hover-text { position: absolute; top: 0; right: -9999%; min-width: 4em; text-align: right; font-size: 14px; line-height: 24px; opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; transition: opacity 0.5s; }
.scrollspy-nav a:hover .dot { background-color: rgba(0, 0, 0, 0.15); }
.scrollspy-nav a:hover .hover-text { right: 125%; opacity: 1; }
.scrollspy-nav .active a .dot { margin: -6px 0 0 -6px; width: 12px; height: 12px; background-color: #6baec9; }

.about .block-container { margin-bottom: 24px; }
.about .row:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .about .row { margin: 0 auto; margin-bottom: 48px; max-width: 1275px; } }
@media (min-width: 768px) and (max-width: 1400px) { .about .row { max-width: 800px; } }

.col2 { text-align: left; }
@media (min-width: 768px) { .col2 { width: 48.48485%; float: left; margin-right: 3.0303%; }
  .col2:nth-child(2n) { float: right; margin-right: 0; } }
@media (min-width: 768px) and (max-width: 1400px) { .col2 { float: none; width: auto; margin-right: auto; }
  .col2:nth-child(2n) { float: none; width: auto; margin-right: auto; } }

.about_family-img { margin-bottom: 48px; }
@media (min-width: 768px) { .about_family-img { margin-top: 48px; margin-bottom: 24px; } }

@media (min-width: 768px) { .about-office-img { width: 100%; } }
@media (min-width: 768px) and (max-width: 1400px) { .about-office-img { width: auto; max-width: 100%; } }

.cooperate-with-us { clear: both; margin-top: 48px; margin-bottom: 48px; text-align: center; color: #aaaaaa; font-size: 18px; line-height: 24px; }
@media (min-width: 768px) { .cooperate-with-us { margin-top: 72px; margin-bottom: 72px; font-size: 22px; line-height: 30px; } }
.cooperate-with-us a { display: block; }

.support .support-image { margin-bottom: 0; }

.resources { margin: 0 auto; max-width: 360px; }
.resources:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .resources { max-width: none; } }
.resources li { width: 47.69231%; float: left; margin-right: 4.61538%; margin-bottom: 24px; }
.resources li:nth-child(2n) { float: right; margin-right: 0; }
@media (min-width: 768px) { .resources li { width: 22.72727%; float: left; margin-right: 3.0303%; margin-bottom: 0; }
  .resources li:nth-child(2n) { float: left; margin-right: 3.0303%; }
  .resources li:nth-child(4n) { float: right; margin-right: 0; } }

.resource .title, .contact-roolen .title { font-size: 20px; line-height: 30px; font-weight: 600; color: #444444; }
@media (min-width: 768px) { .resource .title, .contact-roolen .title { font-size: 24px; line-height: 36px; } }

.resource .text, .contact-roolen .text { font-size: 16px; line-height: 18px; color: #444444; }
@media (min-width: 768px) { .resource .text, .contact-roolen .text { font-size: 18px; line-height: 20px; } }

.resource { display: block; text-align: center; color: #444444; }
.resource:hover { text-decoration: none; }
.resource .title { margin-bottom: 6px; }
.resource img { border: none; margin-bottom: 12px; }
.resource .text { white-space: nowrap; }
.resource:hover .text { color: #aaaaaa; }

.contact-roolen { margin-bottom: 24px; text-align: center; }
@media (min-width: 768px) { .contact-roolen { margin-bottom: 120px; width: 48.48485%; float: left; margin-right: 3.0303%; } }
.contact-roolen .title { margin-bottom: 12px; }
.contact-roolen img { margin-bottom: 12px; }
.contact-roolen .text { margin-bottom: 18px; }
.contact-roolen .mail-to { font-size: 16px; line-height: 24px; }
@media (min-width: 768px) { .contact-roolen .mail-to { font-size: 18px; line-height: 24px; } }

.support-staff { margin-bottom: 48px; }
@media (min-width: 768px) { .support-staff { margin-bottom: 120px; width: 48.48485%; float: right; margin-right: 0; } }
.support-staff img { margin: 0 auto; }

.press-title { text-align: center; font-weight: 300; font-size: 24px; line-height: 48px; line-height: 1em; }
@media (min-width: 768px) { .press-title { font-weight: 100; font-size: 50px; line-height: 72px; line-height: 1em; } }

.press-carousel { margin-bottom: 48px; }
@media (min-width: 768px) { .press-carousel { margin-bottom: 72px; } }
.press-carousel .carousel-control { top: 130px; }
.press-carousel .press-title { margin-bottom: 12px; }
@media (min-width: 768px) { .press-carousel .press-title { margin-bottom: 24px; } }
.press-carousel .star { margin: 0 auto; max-width: 473px; width: 65%; height: auto; }
.press-carousel .item:hover { text-decoration: none; }
.press-carousel .item img { border: none; margin: 0 auto; }
.press-carousel .item-title { margin-top: 12px; text-align: center; color: black; font-size: 16px; line-height: 24px; font-weight: 600; line-height: 1em; }
@media (min-width: 768px) { .press-carousel .item-title { margin-top: 24px; font-size: 30px; line-height: 24px; line-height: 1em; } }

.press-releases { margin: 0 1em; }
@media (min-width: 768px) { .press-releases { margin-bottom: 72px; } }
.press-releases .press-title { margin-bottom: 12px; }
@media (min-width: 768px) { .press-releases .press-title { margin-bottom: 24px; } }

.timeline { margin: 0 auto; margin-bottom: 48px; text-align: left; }
@media (min-width: 768px) { .timeline { max-width: 800px; } }

.timeline-title { position: relative; margin-bottom: 6px; font-size: 16px; line-height: 24px; font-weight: 600; text-align: center; }
@media (min-width: 768px) { .timeline-title { margin-bottom: 12px; font-size: 20px; line-height: 24px; } }
.timeline-title:before { content: ""; display: block; position: absolute; top: 50%; left: 0; margin-top: -1px; width: 100%; height: 1px; background-color: #444444; }
.timeline-title span { position: relative; z-index: 1; background-color: #fcfcfc; padding: 0 1em; }
@media (min-width: 768px) { .timeline-title span { padding: 0 20px; } }

.timeline-item { margin-bottom: 18px; font-size: 14px; line-height: 18px; }
@media (min-width: 768px) { .timeline-item { margin-bottom: 24px; font-size: 16px; line-height: 24px; } }
.timeline-item a { display: block; color: #444444; }
.timeline-item a:hover { text-decoration: none; color: #aaaaaa; }
.timeline-item .date { color: #bbbbbb; float: left; width: 8em; }
.timeline-item .date:after { content: "—"; display: block; float: right; margin: 0 1em 0 0; color: #444444; }
.timeline-item .event { overflow: hidden; }

.hide-mobile { display: none; }

@media (min-width: 768px) { .hide-mobile { display: block; }
  .hide-desktop { display: none; } }
@media (min-width: 768px) { .no-wrap { white-space: nowrap; } }
