* html { font-size: 100%; }

html { font-size: 16px; line-height: 24px; }

body { margin: 0; padding: 0; -webkit-transition: background-color 1s; -moz-transition: background-color 1s; -o-transition: background-color 1s; transition: background-color 1s; background: #fcfcfc; }
@media (min-width: 1720px) { body { background-color: #eeeeef; } }

.container { overflow: hidden; background: #fcfcfc; max-width: 65em; padding-left: 0em; padding-right: 0em; margin-left: auto; margin-right: auto; transition: box-shadow 1s; }
.container:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .container { max-width: 99em; } }
@media (min-width: 1720px) { .container { box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); } }
@media (min-width: 768px) { .container { padding-top: 72px; position: relative; } }

.content { min-height: 600px; padding-top: 24px; }
@media (min-width: 768px) { .content { padding-top: 72px; } }
.home .content { padding-top: 0px; }
@media (min-width: 768px) { .home .content { padding-top: 0px; } }

body { font-family: "Arial", sans-serif; font-weight: normal; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; border: 0; font-weight: normal; }

h1 { font-size: 32px; line-height: 48px; }

h2 { font-size: 24px; line-height: 48px; }

a { color: #4183c4; text-decoration: none; }
a:hover { text-decoration: underline; }

ul, p { margin: 0; padding: 0; border: 0; }

ul { list-style: none; list-style-position: inside; }

p { margin-bottom: 24px; }

img { display: block; max-width: 100%; margin-bottom: 24px; }

.carousel-control, .hero-title, .capacity-count, .three-way-demo .three-way-demo-text { font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif; font-weight: 100; }

.block-title, .resource .title, .contact-roolen .title, .timeline-title { font-family: "proxima-nova-n6", "proxima-nova", "HelveticaNeue-Bold", sans-serif; font-weight: 600; }

.main-nav-btn, .main-nav li > a, .block-text, .spec-list, .scrollspy-nav a, .cooperate-with-us, .resource .text, .contact-roolen .text, .contact-roolen .mail-to, .timeline-item { font-family: "proxima-nova-n4", "proxima-nova", "HelveticaNeue", sans-serif; font-weight: 400; }

.copyright, .hero-sub-title, .smart .nav-tabs li > a, .press-carousel .item-title, .press-releases-title { font-family: "proxima-nova-n3", "proxima-nova", "HelveticaNeue-Light", sans-serif; font-weight: 300; }

.block-sub-title { font-family: "proxima-nova-n1", "proxima-nova", "HelveticaNeue-Light", sans-serif; font-weight: 100; }

.btn { color: #333333; background: #d8d8d8; text-align: center; display: inline-block; padding: 0 0.25em; font-size: 16px; line-height: 24px; border-radius: 3px; box-shadow: 0 2px 0 0 #b5b5b5; cursor: pointer; border: none; }
.btn:hover { text-decoration: none; }
.btn:active { position: relative; top: 2px; box-shadow: none; }

.btn-group .btn { float: left; border-radius: 0; border-right: 1px solid #b5b5b5; }
.btn-group .btn:first-child { border-radius: 3px 0 0 3px; }
.btn-group .btn:last-child { border-radius: 0 3px 3px 0; border-right: 0; }

.pagination { margin-top: 12px; text-align: center; }
.pagination:after { content: ""; display: table; clear: both; }
.pagination li { display: inline-block; margin: 0 0.125em; }
.pagination li a { color: #333333; background: #d8d8d8; text-align: center; display: inline-block; padding: 0.25em 0.75em; font-size: 16px; line-height: 24px; border-radius: 3px; box-shadow: 0 2px 0 0 #b5b5b5; cursor: pointer; }
.pagination li a:hover { text-decoration: none; background-color: #369; }
.pagination li a:active { position: relative; top: 2px; box-shadow: none; }
.pagination li .disable { cursor: default; background-color: #eee; }
.pagination li .disable:hover { background-color: #eee; }
.pagination li .more { padding: 0.25em 0.5em; }
.pagination li .active { background-color: #69c; }

/* alert */
.alert, .alert-success, .alert-wran, .alert-wrong { width: 100%; }
.alert .alert-message, .alert-success .alert-message, .alert-wran .alert-message, .alert-wrong .alert-message { float: left; font-size: 14px; line-height: 24px; }
.alert .alert-message i, .alert-success .alert-message i, .alert-wran .alert-message i, .alert-wrong .alert-message i { margin-right: 6px; }
.alert .close, .alert-success .close, .alert-wran .close, .alert-wrong .close { float: right; border: 0; background-color: transparent; }
@media (min-width: 640px) { .alert, .alert-success, .alert-wran, .alert-wrong { line-height: 36px; }
  .alert .alert-message, .alert-success .alert-message, .alert-wran .alert-message, .alert-wrong .alert-message { font-size: 16px; line-height: 36px; }
  .alert .close, .alert-success .close, .alert-wran .close, .alert-wrong .close { float: right; padding: 9px 0; border: 0; background-color: transparent; color: #777; }
  .alert .close:hover, .alert .close:active, .alert-success .close:hover, .alert-success .close:active, .alert-wran .close:hover, .alert-wran .close:active, .alert-wrong .close:hover, .alert-wrong .close:active { color: #444; } }

.alert { background-color: rgba(0, 0, 0, 0.15); }

.alert-success { color: green; background-color: rgba(0, 128, 0, 0.3); }

.alert-wran { color: #e67e22; background-color: rgba(255, 165, 0, 0.3); }

.alert-wrong { color: #e5412d; background-color: rgba(255, 0, 0, 0.3); }

input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 36px; }
input:focus { outline: none; background: #ffe; }

textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
textarea:focus { outline: none; background: #ffe; }

select { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dddddd; height: 36px; }

.form-control { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dddddd; padding: 5px; font-size: 16px; line-height: 24px; }
.form-control:focus { outline: none; background: #ffe; }

.form-horizontal .form-group:after { content: ""; display: table; clear: both; }
.form-horizontal .form-group + .form-group { margin-top: 12px; }
.form-horizontal label, .form-horizontal .form-label { display: block; font-size: 14px; line-height: 24px; }
.form-horizontal .form-controls img { margin-bottom: 0; margin-right: 12px; float: left; }
.form-horizontal .form-control { width: 100%; }
.form-horizontal .form-description { margin-top: 6px; font-size: 12px; line-height: 16px; color: #aaa; }
.form-horizontal .form-controuls-item { overflow: hidden; }
@media (min-width: 640px) { .form-horizontal .form-group + .form-group { margin-top: 24px; }
  .form-horizontal label, .form-horizontal .form-label { padding: 6px 0; margin-right: 1em; float: left; text-align: right; }
  .form-horizontal .form-controls { overflow: hidden; } }

.form-vertical .form-group:after { content: ""; display: table; clear: both; }
.form-vertical .form-group + .form-group { margin-top: 12px; }
.form-vertical label, .form-vertical .form-label { display: block; font-size: 14px; line-height: 24px; }
.form-vertical textarea { min-height: 120px; }
.form-vertical .form-controls img { margin-bottom: 0; margin-right: 12px; float: left; }
.form-vertical .form-control { width: 100%; }
.form-vertical .form-description { margin-top: 6px; font-size: 12px; line-height: 16px; color: #aaa; }
.form-vertical .form-controuls-item { overflow: hidden; }

.dropdown { display: block; position: relative; }
.dropdown.open .dropdown-btn { background-color: #eeeeef; }
.dropdown.open .dropdown-menu { background-color: #eeeeef; display: block; }

.dropdown-btn { outline: none 0 !important; display: block; padding: 6px 1em; text-align: right; }
.dropdown-btn:after { content: ""; display: table; clear: both; }
.dropdown-btn img { float: left; margin-bottom: 0; margin-right: 6px; }
.dropdown-btn .dropdown-title { float: left; margin-right: 6px; text-align: left; }
.dropdown-btn .dropdown-title:after { content: ""; display: inline-block; vertical-align: middle; width: 0px; height: 0px; margin-left: 6px; border-style: solid; border-width: 6px 6px 0 6px; border-color: #ccc transparent transparent transparent; }

.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 150; display: none; min-width: 120%; padding: 12px 0; float: left; }
.dropdown-menu li { font-size: 14px; line-height: 24px; }
.dropdown-menu li > a { display: block; padding: 6px 1em; white-space: nowrap; }
.dropdown-menu li > a:hover { background-color: black; color: white; text-decoration: none; }
.dropdown-menu li.dropdown-menu-list-divider { margin: 6px 0; height: 1px; background-color: black; }
.dropdown-menu.pull-right { left: auto; right: 0; }

.collapse { display: none; }
.collapse.in { display: block; }

.collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -o-transition: 0.15s ease; transition: 0.15s ease; }

.tab-panel, .pill-panel { display: none; }

.split-line { height: 1px; margin: 0 auto; background-image: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 65, color-stop(50%, rgba(0, 0, 0, 0.125)), color-stop(65%, rgba(0, 0, 0, 0))); background-image: -webkit-radial-gradient(100% 100%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 65%); background-image: -moz-radial-gradient(100% 100%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 65%); background-image: -o-radial-gradient(100% 100%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 65%); background-image: radial-gradient(100% 100%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 65%); }

@media (min-width: 768px) { .header { position: fixed; top: 0; left: 0; right: 0; z-index: 100; width: 100%; } }

.header-container { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 1em; margin: 0 auto; transition: box-shadow 1s; }
.header-container:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .header-container { padding: 0 4em; max-width: 99em; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, rgba(252, 252, 252, 0.85))); background: -webkit-linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85)); background: -moz-linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85)); background: -o-linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85)); background: linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85)); } }

.logo { float: left; }
.logo a { display: block; margin: 8px auto; color: #444444; color: inherit; text-decoration: inherit; cursor: inherit; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/logo.png?1378783356'); background-repeat: no-repeat; background-position: 50% 50%; width: 110px; height: 32px; background-image: none, url('/images/logo.svg?1378783360'); background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; }
.logo a:hover { color: rgba(0, 0, 0, 0.75); }
.logo a:active, .logo a:focus { outline: none; }
@media (min-width: 768px) { .logo a { margin: 21.5px auto; color: #aaa; background: none; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/logo_big.png?1378889718'); background-repeat: no-repeat; background-position: 50% 50%; width: 187px; height: 53px; background-image: none, url('/images/logo_big.svg?1378890059'); -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-transition: width 0.35s, height 0.35s, margin 0.35s; -moz-transition: width 0.35s, height 0.35s, margin 0.35s; -o-transition: width 0.35s, height 0.35s, margin 0.35s; transition: width 0.35s, height 0.35s, margin 0.35s; } }
@media (min-width: 768px) { .logo { margin-left: -10px; } }

.main-nav-btn { display: block; float: right; margin: 0; padding: 0; border: 0; background-color: transparent; font-size: 16px; line-height: 48px; font-weight: 300; color: #999999; cursor: pointer; outline: none; }

.main-nav { margin: 0 -20px; clear: both; text-align: center; }
.main-nav li { border-top: 1px solid #eee; }
.main-nav li:last-child { border-bottom: 1px solid #eee; }
.main-nav li > a { display: block; padding: 6px 0; color: #999999; text-shadow: 0 0 10px white; -webkit-transition: color 0.25s ease; -moz-transition: color 0.25s ease; -o-transition: color 0.25s ease; transition: color 0.25s ease; }
.main-nav li > a:hover { text-decoration: none; color: #6baec9; }
.main-nav li.active > a { background: #6baec9; color: white; }
@media (min-width: 768px) { .main-nav li.active > a { color: #6baec9; background: transparent; } }
@media (min-width: 768px) { .main-nav { margin: 0; float: right; clear: none; height: auto !important; display: block; }
  .main-nav li { float: left; border-top: 0; }
  .main-nav li > a { -webkit-transition: margin 0.35s; -moz-transition: margin 0.35s; -o-transition: margin 0.35s; transition: margin 0.35s; margin-top: 55px; padding: 0px 24px 0; font-size: 22px; line-height: 24px; }
  .main-nav li:last-child { border-bottom: 0; }
  .main-nav li:last-child a { padding-right: 0; } }

@media (min-width: 768px) { .header.affix .header-container { box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.05); -webkit-transition: box-shadow 1s; -webkit-transition-delay: 0.35s; -moz-transition: box-shadow 1s 0.35s; -o-transition: box-shadow 1s 0.35s; transition: box-shadow 1s 0.35s; }
  .header.affix h1.logo { font-size: 12px; line-height: 24px; }
  .header.affix h1.logo a { width: 93.5px; height: 26.5px; margin: 12px 0 12px -20px; }
  .header.affix .main-nav li > a { margin-top: 16px; } }
.footer { position: relative; text-align: center; }

.footer-container { padding: 3em 1em; background-color: #f2f2f2; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(68, 68, 68, 0.1)), color-stop(100%, rgba(68, 68, 68, 0))); background-image: -webkit-linear-gradient(rgba(68, 68, 68, 0.1), rgba(68, 68, 68, 0)); background-image: -moz-linear-gradient(rgba(68, 68, 68, 0.1), rgba(68, 68, 68, 0)); background-image: -o-linear-gradient(rgba(68, 68, 68, 0.1), rgba(68, 68, 68, 0)); background-image: linear-gradient(rgba(68, 68, 68, 0.1), rgba(68, 68, 68, 0)); }

.home-link { display: block; margin: 0 auto; margin-bottom: 18px; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/footer/bottom_logo.png?1379323839'); background-repeat: no-repeat; background-position: 50% 50%; width: 82px; height: 24px; background-image: none, url('/images/footer/bottom_logo.svg?1379323852'); background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; }
@media (min-width: 768px) { .home-link { margin-bottom: 12px; } }
.home-link img { margin: 0 auto; }

.social-link-group { display: inline-block; margin-bottom: 12px; }
@media (min-width: 768px) { .social-link-group { position: absolute; top: 50%; right: 4em; margin-top: -36px; } }
.social-link-group li { display: inline-block; margin: 0 .25em; width: 48px; }
@media (min-width: 768px) { .social-link-group li { margin: 0 .25em; width: auto; } }
.social-link-group img { margin: 0 auto; }

.copyright { font-size: 14px; line-height: 24px; color: #999; }

.block { padding-top: 48px; }
.block:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .block { padding-top: 120px; } }
.block:first-child { margin: 0; padding: 0; border: 0; }
.block img { margin-left: auto; margin-right: auto; }

.block-container { padding: 0 1em; margin-bottom: 48px; }
@media (min-width: 768px) { .block-container { padding: 0 4em; margin-bottom: 120px; } }

.block-content { text-align: center; margin: 0 auto; }
@media (min-width: 768px) { .block-content { max-width: 980px; } }
@media (min-width: 768px) and (max-width: 1400px) { .block-content { max-width: 800px; } }

.block-title, .block-sub-title, .press-carousel .item-title { font-size: 26px; line-height: 1.2em; }
@media (min-width: 768px) { .block-title, .block-sub-title, .press-carousel .item-title { font-size: 46px; line-height: .9em; }
  .wf-active .block-title, .wf-active .block-sub-title, .wf-active .press-carousel .item-title, .press-carousel .wf-active .item-title { letter-spacing: -1px; } }

.block-sub-title { font-size: 24px; }
@media (min-width: 768px) { .block-sub-title { font-size: 38px; line-height: 1.125em; } }

.block-title { font-weight: 600; margin-bottom: .125em; }

.block-sub-title { margin-bottom: .8em; }
@media (min-width: 768px) { .block-sub-title { margin-bottom: 36px; } }

.block-text { font-size: 16px; line-height: 24px; color: #444444; }
@media (min-width: 768px) { .block-text { font-size: 24px; line-height: 40px; font-family: "proxima-nova-n3", "proxima-nova", "HelveticaNeue-Light", sans-serif; font-weight: 300; } }

.carousel { max-width: 980px; margin: 0 auto; }

.carousel-slide { position: relative; margin: 0 1em; }
@media (min-width: 768px) { .carousel-slide { min-width: 600px; } }

.carousel-inner { position: relative; overflow: hidden; margin: 0 auto; width: 80%; }
.carousel-inner > .item { display: none; position: relative; -webkit-transition: left 0.6s; -moz-transition: left 0.6s; -o-transition: left 0.6s; transition: left 0.6s; }
.carousel-inner > .item img { margin: 0 auto; width: auto; height: auto; }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0; }
.carousel-inner > .next, .carousel-inner > .prev { position: absolute; top: 0; width: 100%; }
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.left, .carousel-inner > .prev.right { left: 0; }
.carousel-inner > .active.left { left: -100%; }
.carousel-inner > .active.right { left: 100%; }

.carousel-indicators { text-align: center; }
.carousel-indicators li { display: inline-block; margin: 6px; padding: 5px; background-color: #999; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; cursor: pointer; }
@media (min-width: 768px) { .carousel-indicators li { margin: 12px; padding: 8px; } }
.carousel-indicators li.active { background-color: #6baec9; }

.carousel-control { position: absolute; top: 50%; z-index: 2; margin-top: -24px; color: #6a6a6a; font-size: 40px; line-height: 48px; }
@media (min-width: 768px) { .carousel-control { margin-top: -72px; font-size: 120px; line-height: 144px; } }
.carousel-control:hover { text-decoration: none; }
.carousel-control.left { left: 0; }
.carousel-control.right { right: 0; }

.hero { padding: 10% 0; text-align: center; }
@media (min-width: 768px) { .hero { padding-top: 96px; padding-bottom: 72px; } }
.hero img { margin: 0 auto; width: 100%; max-width: 320px; }
@media (min-width: 768px) { .hero img { max-width: 100%; width: auto; } }

.hero-container { padding: 0 1em; }
@media (min-width: 768px) { .hero-container { width: 65.65657%; margin: 0 auto; } }

.hero-title { font-size: 48px; line-height: 48px; }
@media (min-width: 768px) { .hero-title { font-size: 110px; line-height: 120px; } }

.hero-sub-title { margin-bottom: 12px; font-size: 16px; line-height: 24px; color: #838383; }
@media (min-width: 768px) { .hero-sub-title { margin-bottom: 36px; font-size: 36px; line-height: 36px; } }

.smart { padding-top: 0; }
.smart .tab-panel { position: relative; overflow: hidden; margin-bottom: -1px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-color: #bababa; background-position: center top; background-repeat: no-repeat; }
.smart #cloudy { background-image: url("/images/room_cloudy.png"); }
.smart #sunny { background-image: url("/images/room_sunny.png"); }
.smart #rainy { background-image: url("/images/room_rainy.png"); }
@media all and (-webkit-min-device-pixel-ratio: 2) { .smart #cloudy { background-image: url("/images/room_cloudy@2x.png"); }
  .smart #sunny { background-image: url("/images/room_sunny@2x.png"); }
  .smart #rainy { background-image: url("/images/room_rainy@2x.png"); } }
.smart .smart-image { margin: 0 auto; width: 30%; height: auto; }
@media (min-width: 768px) { .smart .smart-image { max-width: 430px; } }
@media (min-width: 768px) and (max-width: 1400px) { .smart .smart-image { width: 27.5%; } }
.smart .mist { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.smart .mist-anime { position: relative; z-index: 3; }
.smart .nav-tabs { margin-bottom: 36px; }
.smart .nav-tabs:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .smart .nav-tabs { margin-bottom: 120px; } }
.smart .nav-tabs li { float: left; width: 33.33333%; text-align: center; }
.smart .nav-tabs li:last-child a { margin-right: -3px; padding-right: 3px; }
.smart .nav-tabs li > a { display: block; padding: 12px 0; background-color: #bababa; color: white; }
@media (min-width: 768px) { .smart .nav-tabs li > a { padding: 24px 0; font-size: 52px; line-height: 72px; font-weight: 100; } }
@media (min-width: 768px) and (max-width: 1100px) { .smart .nav-tabs li > a { font-size: 36px; line-height: 48px; } }
.smart .nav-tabs li > a:hover { text-decoration: none; background-color: rgba(107, 174, 201, 0.65); }
.smart .nav-tabs .active > a { background-color: #6baec9; }
.smart .nav-tabs .active > a:hover { background-color: #6baec9; }
.smart .smart-icon { height: 24px; margin: 0 auto; }
@media (min-width: 768px) { .smart .smart-icon { display: inline-block; height: 52px; margin-right: 12px; vertical-align: text-top; } }
@media (min-width: 768px) and (max-width: 1100px) { .smart .smart-icon { margin-right: 8px; height: 36px; } }

.capacity img { margin: 0 auto; max-width: 50%; }
@media (min-width: 768px) { .capacity img { max-width: none; margin-bottom: -20px; } }

.capacity-count { -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; margin-bottom: 24px; text-align: center; font-size: 70px; line-height: 48px; color: #6baec9; }
@media (min-width: 768px) { .capacity-count { font-size: 96px; line-height: 96px; margin-bottom: 24px; } }

.three-way-demo { margin-bottom: 24px; position: relative; }
.three-way-demo:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .three-way-demo { margin-bottom: 108px; } }
.three-way-demo img { margin-bottom: 0; margin: 0 auto; }
.three-way-demo .nav-tabs { position: absolute; bottom: 0; left: 7.5%; z-index: 3; }
@media (min-width: 768px) { .three-way-demo .nav-tabs { left: auto; right: 60.10101%; } }
.three-way-demo .nav-tabs li { position: relative; }
.three-way-demo .nav-tabs li + li { margin-top: 6px; }
@media (min-width: 768px) { .three-way-demo .nav-tabs li + li { margin-top: 12px; } }
.three-way-demo .nav-tabs li > a { display: block; padding: 0 0 0 16px; color: #aaaaaa; font-size: 14px; line-height: 24px; }
.three-way-demo .nav-tabs li > a:hover { color: black; text-decoration: none; }
@media (min-width: 768px) { .three-way-demo .nav-tabs li > a { padding: 0 0 0 36px; font-size: 22px; line-height: 48px; } }
.three-way-demo .nav-tabs .active > a { color: #444444; }
.three-way-demo .nav-tabs .active > a:before { content: "▶"; position: absolute; top: 0; left: 0; font-size: 12px; line-height: 24px; }
@media (min-width: 768px) { .three-way-demo .nav-tabs .active > a:before { font-size: 22px; line-height: 48px; } }
.three-way-demo .three-way-demo-text { position: absolute; bottom: 0; right: 3.5%; z-index: 3; font-size: 24px; line-height: 30px; }
@media (min-width: 768px) { .three-way-demo .three-way-demo-text { right: 0; width: 39.89899%; font-size: 72px; line-height: 72px; } }
.three-way-demo .three-way-demo-text .special { font-size: 28px; line-height: 30px; }
@media (min-width: 768px) { .three-way-demo .three-way-demo-text .special { font-size: 84px; line-height: 96px; } }
.three-way-demo .humidifier { margin: 0 auto; position: relative; }
.three-way-demo .humidifier:after { content: ""; position: absolute; top: 80%; left: 50%; margin-left: -3px; padding: 3px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; background-color: #ccc; }
.three-way-demo .low .special { color: #fca733; }
.three-way-demo .low .humidifier:after { background-color: #fca733; }
.three-way-demo .high .special { color: red; }
.three-way-demo .high .humidifier:after { background-color: red; }
.three-way-demo .auto .special { color: green; }
.three-way-demo .auto .humidifier:after { background-color: green; }

.energy img { margin: 0 auto; }

.energy-line-chart { position: relative; max-width: 768px; margin: 0 auto; margin-bottom: 24px; }
@media (min-width: 768px) { .energy-line-chart { margin-bottom: 84px; } }
.energy-line-chart .chart-line { position: absolute; top: 0; left: 0; z-index: 1; width: 0; height: 100%; overflow: hidden; background-position: left top; background-size: auto 100%; background-repeat: no-repeat; -webkit-transition: width 0.5s ease-out; -webkit-transition-delay: 0.15s; -moz-transition: width 0.5s ease-out 0.15s; -o-transition: width 0.5s ease-out 0.15s; transition: width 0.5s ease-out 0.15s; }
.active .energy-line-chart .chart-line { width: 100%; }
.energy-line-chart .chart-line-top { z-index: 2; -webkit-transition: width 0.5s ease-out; -webkit-transition-delay: 0.35s; -moz-transition: width 0.5s ease-out 0.35s; -o-transition: width 0.5s ease-out 0.35s; transition: width 0.5s ease-out 0.35s; }

.energy-bar-chart { margin-top: 24px; }
.energy-bar-chart:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .energy-bar-chart { min-width: 500px; width: 48.48485%; margin-left: auto; margin-right: auto; } }
.energy-bar-chart img { float: left; width: 48px; margin-right: 6px; border-right: 1px solid #86be48; padding-right: 6px; }
@media (min-width: 768px) { .energy-bar-chart img { width: 60px; } }
.energy-bar-chart .energy-bars { overflow: hidden; }
.energy-bar-chart .energy-bar { position: relative; font-size: 13px; line-height: 24px; color: #ababab; }
.energy-bar-chart .energy-bar:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .energy-bar-chart .energy-bar { font-size: 18px; line-height: 30px; } }
.energy-bar-chart .date-state { position: relative; z-index: 3; float: left; width: 6em; background-color: white; }
.energy-bar-chart .date-graph { position: absolute; z-index: 2; top: 10px; width: 100%; height: 4px; background-color: #bbb; }
@media (min-width: 768px) { .energy-bar-chart .date-graph { top: 13px; } }
.energy-bar-chart .date-count { position: relative; z-index: 3; float: right; width: 3em; text-align: right; background-color: white; }
.energy-bar-chart .auto-mode .date-graph { background-color: #86be48; width: 60%; }
.energy-bar-chart .auto-mode .date-count { color: #86be48; }

.easy-control img { margin: 0 auto 24px; }
.easy-control .humidifier { margin-bottom: 24px; }
@media (min-width: 768px) { .easy-control .humidifier { margin-bottom: 60px; } }

.components img { margin: 0 auto; margin-bottom: 48px; }
@media (min-width: 768px) { .components img { margin-bottom: 108px; } }

.future-carousel { margin-bottom: 24px; }
@media (min-width: 768px) { .future-carousel { margin-bottom: 36px; } }
.future-carousel .carousel-slide { margin-bottom: 12px; }

.spec { margin-bottom: 0; }
.spec img { margin: 0 auto; }
.spec .tech_humidifier { margin-top: 24px; margin-bottom: 24px; }
@media (min-width: 768px) { .spec .tech_humidifier { margin-top: 60px; margin-bottom: 60px; } }

.spec-list { font-size: 13px; line-height: 16px; }
.spec-list:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .spec-list { font-size: 22px; line-height: 24px; }
  .wf-active .spec-list { font-weight: 300; } }
.spec-list li { padding: 4px 0; }
.spec-list li:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .spec-list li { padding: 6px 0; } }
.spec-list .name { float: left; width: 49%; text-align: right; }
.spec-list .value { color: #aaaaaa; float: right; width: 49%; }

.home-bottom { margin-bottom: 0; }
.home-bottom img { margin: 0 auto; max-width: 80%; }

.scrollspy-nav { display: none; position: absolute; right: 48px; z-index: 1; }
@media (min-width: 768px) { .scrollspy-nav { display: block; } }
.scrollspy-nav ul { position: fixed; top: 50%; margin-top: -120px; }
.scrollspy-nav a { position: relative; display: block; width: 24px; height: 24px; color: rgba(0, 0, 0, 0.5); }
.scrollspy-nav a:after { content: ""; display: table; clear: both; }
.scrollspy-nav .dot { position: absolute; top: 50%; left: 50%; margin: -4px 0 0 -4px; display: block; padding: 4px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background-color: rgba(0, 0, 0, 0.25); }
.scrollspy-nav .hover-text { position: absolute; top: 0; right: -9999%; min-width: 4em; text-align: right; font-size: 14px; line-height: 24px; opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; transition: opacity 0.5s; }
.scrollspy-nav a:hover .dot { background-color: rgba(0, 0, 0, 0.15); }
.scrollspy-nav a:hover .hover-text { right: 125%; opacity: 1; }
.scrollspy-nav .active a .dot { margin: -6px 0 0 -6px; padding: 6px; background-color: #6baec9; }

.about .block-container { margin-bottom: 24px; }
.about .row:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .about .row { margin: 0 auto; margin-bottom: 48px; max-width: 1275px; } }
@media (min-width: 768px) and (max-width: 1400px) { .about .row { max-width: 800px; } }

.col2 { text-align: left; }
@media (min-width: 768px) { .col2 { width: 48.48485%; float: left; margin-right: 3.0303%; }
  .col2:nth-child(2n) { float: right; margin-right: 0; } }
@media (min-width: 768px) and (max-width: 1400px) { .col2 { float: none; width: auto; margin-right: auto; }
  .col2:nth-child(2n) { float: none; width: auto; margin-right: auto; } }

.about_family-img { margin-bottom: 48px; }
@media (min-width: 768px) { .about_family-img { margin-top: 48px; margin-bottom: 24px; } }

@media (min-width: 768px) { .about-office-img { width: 100%; } }
@media (min-width: 768px) and (max-width: 1400px) { .about-office-img { width: auto; max-width: 100%; } }

.cooperate-with-us { clear: both; margin-top: 48px; margin-bottom: 48px; text-align: center; color: #aaaaaa; font-size: 18px; line-height: 24px; }
@media (min-width: 768px) { .cooperate-with-us { margin-top: 72px; margin-bottom: 72px; font-size: 22px; line-height: 30px; } }
.cooperate-with-us a { display: block; }

.support .support-image { margin-bottom: 0; }

.resources { margin: 0 auto; max-width: 360px; }
.resources:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .resources { max-width: none; } }
.resources li { width: 47.69231%; float: left; margin-right: 4.61538%; margin-bottom: 24px; }
.resources li:nth-child(2n) { float: right; margin-right: 0; }
@media (min-width: 768px) { .resources li { width: 22.72727%; float: left; margin-right: 3.0303%; margin-bottom: 0; }
  .resources li:nth-child(2n) { float: left; margin-right: 3.0303%; }
  .resources li:nth-child(4n) { float: right; margin-right: 0; } }

.resource .title, .contact-roolen .title { font-size: 20px; line-height: 30px; font-weight: 600; color: #444444; }
@media (min-width: 768px) { .resource .title, .contact-roolen .title { font-size: 24px; line-height: 36px; } }

.resource .text, .contact-roolen .text { font-size: 16px; line-height: 18px; color: #444444; }
@media (min-width: 768px) { .resource .text, .contact-roolen .text { font-size: 18px; line-height: 20px; } }

.resource { display: block; text-align: center; color: #444444; }
.resource:hover { text-decoration: none; }
.resource .title { margin-bottom: 6px; }
.resource img { margin-bottom: 12px; }
.resource .text { white-space: nowrap; }
.resource:hover .text { color: #aaaaaa; }

.contact-roolen { margin-bottom: 24px; text-align: center; }
@media (min-width: 768px) { .contact-roolen { margin-bottom: 120px; width: 48.48485%; float: left; margin-right: 3.0303%; } }
.contact-roolen .title { margin-bottom: 12px; }
.contact-roolen img { margin-bottom: 12px; }
.contact-roolen .text { margin-bottom: 18px; }
.contact-roolen .mail-to { font-size: 16px; line-height: 24px; }
@media (min-width: 768px) { .contact-roolen .mail-to { font-size: 18px; line-height: 24px; } }

.support-staff { margin-bottom: 48px; }
@media (min-width: 768px) { .support-staff { margin-bottom: 120px; width: 48.48485%; float: right; margin-right: 0; } }
.support-staff img { margin: 0 auto; }

.press-carousel .item:hover { text-decoration: none; }
.press-carousel .item img { margin: 0 auto; }
.press-carousel .item-title { margin-bottom: 6px; text-align: center; color: black; font-weight: 300; }
@media (min-width: 768px) { .press-carousel .item-title { font-weight: 100; margin-bottom: 36px; } }

.press_jp { max-width: 75%; }
@media (min-width: 768px) { .press_jp { max-width: 100%; } }

.press-releases-title { font-weight: 300; }
@media (min-width: 768px) { .press-releases-title { font-weight: 100; } }

.timeline { margin: 0 auto; margin-bottom: 48px; text-align: left; }
@media (min-width: 768px) { .timeline { margin-top: 24px; max-width: 800px; } }

.timeline-title { margin-bottom: 3px; font-size: 16px; line-height: 24px; font-weight: 600; }
@media (min-width: 768px) { .timeline-title { margin-bottom: 6px; font-size: 20px; line-height: 24px; } }

.timeline-item { margin-bottom: 18px; font-size: 14px; line-height: 18px; }
@media (min-width: 768px) { .timeline-item { margin-bottom: 36px; font-size: 16px; line-height: 24px; } }
.timeline-item .date { color: #bbbbbb; float: left; width: 8em; }
.timeline-item .date:after { content: "—"; display: block; float: right; margin: 0 1em 0 0; color: #444444; }
.timeline-item .event { overflow: hidden; }

.hide-mobile { display: none; }

@media (min-width: 768px) { .hide-mobile { display: block; }
  .hide-desktop { display: none; } }
.open { display: block; }

.active { display: block; }

@media (min-width: 768px) { .no-wrap { white-space: nowrap; } }
