* html { font-size: 100%; }

html { font-size: 16px; line-height: 24px; }

body { margin: 0; padding: 0; }

@media (min-width: 1280px) { .wrapper { max-width: 1200px; margin: 0 auto; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); } }

.container { max-width: 46.5em; padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto; }
.container:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .container { max-width: 70.5em; } }

.header { border-bottom: 1px solid #ddd; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
.header:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .header { position: fixed; top: 0; left: 0; z-index: 100; width: 100%; background-color: rgba(255, 255, 255, 0.85); } }

@media (min-width: 768px) { .content { padding-top: 49px; } }

.footer { min-height: 200px; background-color: #f2f2f2; color: #a00; }

body { font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif; font-weight: normal; -webkit-text-size-adjust: none; text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; border: 0; font-weight: normal; }

h1 { font-size: 32px; line-height: 48px; }

h2 { font-size: 24px; line-height: 48px; }

a { color: #4183c4; text-decoration: none; }
a:hover { text-decoration: underline; }

ul, p { margin: 0; padding: 0; border: 0; }

ul { list-style: none; list-style-position: inside; }

p { margin-bottom: 24px; }

img { display: block; max-width: 100%; margin-bottom: 24px; }

.block-title, .hero-sub-title { font-family: "AvenirNext-Regular", "Avenir-Light", "Avenir", "HelveticaNeue", "Helvetica", "Arial", sans-serif; }

.block-sub-title, .hero-title, .smart .nav-tabs li > a, .capacity-count, .three-way-demo .three-way-demo-text, .future-demo .carousel-control, .spec .spec-list .value { font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif; font-weight: 100; }

.block-text { font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif; font-weight: 300; }

.btn { color: #333333; background: #d8d8d8; text-align: center; display: inline-block; padding: 0 0.25em; font-size: 16px; line-height: 24px; border-radius: 3px; box-shadow: 0 2px 0 0 #b5b5b5; cursor: pointer; border: none; }
.btn:hover { text-decoration: none; }
.btn:active { position: relative; top: 2px; box-shadow: none; }

.btn-group .btn { float: left; border-radius: 0; border-right: 1px solid #b5b5b5; }
.btn-group .btn:first-child { border-radius: 3px 0 0 3px; }
.btn-group .btn:last-child { border-radius: 0 3px 3px 0; border-right: 0; }

.pagination { margin-top: 12px; text-align: center; }
.pagination:after { content: ""; display: table; clear: both; }
.pagination li { display: inline-block; margin: 0 0.125em; }
.pagination li a { color: #333333; background: #d8d8d8; text-align: center; display: inline-block; padding: 0.25em 0.75em; font-size: 16px; line-height: 24px; border-radius: 3px; box-shadow: 0 2px 0 0 #b5b5b5; cursor: pointer; }
.pagination li a:hover { text-decoration: none; background-color: #369; }
.pagination li a:active { position: relative; top: 2px; box-shadow: none; }
.pagination li .disable { cursor: default; background-color: #eee; }
.pagination li .disable:hover { background-color: #eee; }
.pagination li .more { padding: 0.25em 0.5em; }
.pagination li .active { background-color: #69c; }

/* alert */
.alert, .alert-success, .alert-wran, .alert-wrong { width: 100%; }
.alert .alert-message, .alert-success .alert-message, .alert-wran .alert-message, .alert-wrong .alert-message { float: left; font-size: 14px; line-height: 24px; }
.alert .alert-message i, .alert-success .alert-message i, .alert-wran .alert-message i, .alert-wrong .alert-message i { margin-right: 6px; }
.alert .close, .alert-success .close, .alert-wran .close, .alert-wrong .close { float: right; border: 0; background-color: transparent; }
@media (min-width: 640px) { .alert, .alert-success, .alert-wran, .alert-wrong { line-height: 36px; }
  .alert .alert-message, .alert-success .alert-message, .alert-wran .alert-message, .alert-wrong .alert-message { font-size: 16px; line-height: 36px; }
  .alert .close, .alert-success .close, .alert-wran .close, .alert-wrong .close { float: right; padding: 9px 0; border: 0; background-color: transparent; color: #777; }
  .alert .close:hover, .alert .close:active, .alert-success .close:hover, .alert-success .close:active, .alert-wran .close:hover, .alert-wran .close:active, .alert-wrong .close:hover, .alert-wrong .close:active { color: #444; } }

.alert { background-color: rgba(0, 0, 0, 0.15); }

.alert-success { color: green; background-color: rgba(0, 128, 0, 0.3); }

.alert-wran { color: #e67e22; background-color: rgba(255, 165, 0, 0.3); }

.alert-wrong { color: #e5412d; background-color: rgba(255, 0, 0, 0.3); }

input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 36px; }
input:focus { outline: none; background: #ffe; }

textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
textarea:focus { outline: none; background: #ffe; }

select { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dddddd; height: 36px; }

.form-control { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dddddd; padding: 5px; font-size: 16px; line-height: 24px; }
.form-control:focus { outline: none; background: #ffe; }

.form-horizontal .form-group:after { content: ""; display: table; clear: both; }
.form-horizontal .form-group + .form-group { margin-top: 12px; }
.form-horizontal label, .form-horizontal .form-label { display: block; font-size: 14px; line-height: 24px; }
.form-horizontal .form-controls img { margin-bottom: 0; margin-right: 12px; float: left; }
.form-horizontal .form-control { width: 100%; }
.form-horizontal .form-description { margin-top: 6px; font-size: 12px; line-height: 16px; color: #aaa; }
.form-horizontal .form-controuls-item { overflow: hidden; }
@media (min-width: 640px) { .form-horizontal .form-group + .form-group { margin-top: 24px; }
  .form-horizontal label, .form-horizontal .form-label { padding: 6px 0; margin-right: 1em; float: left; text-align: right; }
  .form-horizontal .form-controls { overflow: hidden; } }

.form-vertical .form-group:after { content: ""; display: table; clear: both; }
.form-vertical .form-group + .form-group { margin-top: 12px; }
.form-vertical label, .form-vertical .form-label { display: block; font-size: 14px; line-height: 24px; }
.form-vertical textarea { min-height: 120px; }
.form-vertical .form-controls img { margin-bottom: 0; margin-right: 12px; float: left; }
.form-vertical .form-control { width: 100%; }
.form-vertical .form-description { margin-top: 6px; font-size: 12px; line-height: 16px; color: #aaa; }
.form-vertical .form-controuls-item { overflow: hidden; }

.dropdown { display: block; position: relative; }
.dropdown.open .dropdown-btn { background-color: #eeeeef; }
.dropdown.open .dropdown-menu { background-color: #eeeeef; display: block; }

.dropdown-btn { outline: none 0 !important; display: block; padding: 6px 1em; text-align: right; }
.dropdown-btn:after { content: ""; display: table; clear: both; }
.dropdown-btn img { float: left; margin-bottom: 0; margin-right: 6px; }
.dropdown-btn .dropdown-title { float: left; margin-right: 6px; text-align: left; }
.dropdown-btn .dropdown-title:after { content: ""; display: inline-block; vertical-align: middle; width: 0px; height: 0px; margin-left: 6px; border-style: solid; border-width: 6px 6px 0 6px; border-color: #ccc transparent transparent transparent; }

.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 150; display: none; min-width: 120%; padding: 12px 0; float: left; }
.dropdown-menu li { font-size: 14px; line-height: 24px; }
.dropdown-menu li > a { display: block; padding: 6px 1em; white-space: nowrap; }
.dropdown-menu li > a:hover { background-color: black; color: white; text-decoration: none; }
.dropdown-menu li.dropdown-menu-list-divider { margin: 6px 0; height: 1px; background-color: black; }
.dropdown-menu.pull-right { left: auto; right: 0; }

.collapse { display: none; }
.collapse.in { display: block; }

.collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -o-transition: 0.15s ease; transition: 0.15s ease; }

.tab-panel, .pill-panel { display: none; }

.logo { float: left; }
.logo a { display: block; margin: 8px auto; color: #444444; color: inherit; text-decoration: inherit; cursor: inherit; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/logo.png?1378688624'); background-repeat: no-repeat; background-position: 50% 50%; width: 110px; height: 32px; background-image: none, url('/images/logo.svg?1378688624'); background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; }
.logo a:hover { color: rgba(0, 0, 0, 0.75); }
.logo a:active, .logo a:focus { outline: none; }

.nav-btn { display: block; float: right; margin: 0; padding: 0; border: 0; background-color: transparent; font-size: 16px; line-height: 48px; color: #999999; cursor: pointer; }

.nav { clear: both; text-align: center; }
.nav li { border-bottom: 1px solid #eee; }
.nav li > a { display: block; padding: 6px 0; color: #999999; -webkit-transition: color 0.25s ease; -moz-transition: color 0.25s ease; -o-transition: color 0.25s ease; transition: color 0.25s ease; }
.nav li > a:hover { text-decoration: none; color: #6baec9; }
@media (min-width: 768px) { .nav { float: right; clear: none; height: auto !important; display: block; }
  .nav li { float: left; border-bottom: 0; }
  .nav li > a { padding: 12px 1.5em; }
  .nav li:last-child a { padding-right: 0; } }

.block { clear: both; margin-bottom: 48px; border-bottom: 1px solid #ddd; padding-bottom: 48px; }
.block:last-child { margin: 0; padding: 0; border: 0; }
.block .container { max-width: 450px; }
@media (min-width: 768px) { .block { margin-bottom: 72px; padding-bottom: 72px; }
  .block .container { max-width: 620px; } }

.block-content { text-align: center; }

.block-title { margin-bottom: 3px; font-size: 24px; line-height: 24px; }
@media (min-width: 768px) { .block-title { font-size: 36px; line-height: 36px; margin-bottom: 6px; } }

.block-sub-title { margin-bottom: 3px; font-size: 18px; line-height: 24px; color: #aaaaaa; }
@media (min-width: 768px) { .block-sub-title { font-size: 30px; line-height: 30px; margin-bottom: 12px; } }

.block-text { font-size: 14px; line-height: 18px; color: #aaaaaa; }
@media (min-width: 768px) { .block-text { font-size: 18px; line-height: 24px; } }

.hero { margin-top: 36px; text-align: center; }
.hero img { width: 82.5%; max-width: 320px; margin: 0 auto; }
@media (min-width: 768px) { .hero { margin-top: 72px; margin-bottom: 24px; }
  .hero img { max-width: 400px; } }

.hero-title { font-size: 48px; line-height: 48px; }
@media (min-width: 768px) { .hero-title { font-size: 72px; line-height: 72px; } }

.hero-sub-title { margin-bottom: 12px; font-size: 16px; line-height: 24px; color: #bbbbbb; }
@media (min-width: 768px) { .hero-sub-title { margin-bottom: 24px; font-size: 24px; line-height: 24px; } }

.smart .tab-panel { padding-top: 35%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center bottom; background-repeat: no-repeat; }
@media (min-width: 768px) { .smart .tab-panel { padding-top: 25%; } }
.smart .humidifier { max-width: 25%; margin: 0 auto; }
@media (min-width: 768px) { .smart .humidifier { width: 20%; max-width: 300px; } }
.smart .nav-tabs { margin-bottom: 36px; }
.smart .nav-tabs:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .smart .nav-tabs { margin-bottom: 72px; } }
.smart .nav-tabs li { float: left; width: 33.33333%; text-align: center; }
.smart .nav-tabs li > a { display: block; padding: 12px 0; background-color: #bababa; color: white; }
.smart .nav-tabs li > a:hover { text-decoration: none; background-color: rgba(107, 174, 201, 0.65); }
@media (min-width: 768px) { .smart .nav-tabs li > a { padding: 24px 0; font-size: 32px; line-height: 48px; } }
.smart .nav-tabs .active > a { background-color: #6baec9; }
.smart .nav-tabs .active > a:hover { background-color: #6baec9; }
.smart .smart-icon { height: 24px; margin: 0 auto; }
@media (min-width: 768px) { .smart .smart-icon { display: inline-block; height: 36px; margin-right: 12px; vertical-align: text-top; } }

.capacity img { max-width: 35%; margin: 0 auto; }

.capacity-count { margin-top: -14px; margin-bottom: 12px; text-align: center; font-size: 44px; line-height: 48px; color: #6baec9; }
@media (min-width: 768px) { .capacity-count { margin-top: -20px; margin-bottom: 18px; font-size: 68px; line-height: 72px; } }

.three-way-demo { margin-bottom: 24px; position: relative; }
.three-way-demo:after { content: ""; display: table; clear: both; }
@media (min-width: 768px) { .three-way-demo { margin-bottom: 48px; } }
.three-way-demo img { margin-bottom: 0; }
.three-way-demo .nav-tabs { position: absolute; bottom: 0; left: 7.5%; }
@media (min-width: 768px) { .three-way-demo .nav-tabs { left: 22.5%; } }
.three-way-demo .nav-tabs li { position: relative; }
.three-way-demo .nav-tabs li + li { margin-top: 6px; }
@media (min-width: 768px) { .three-way-demo .nav-tabs li + li { margin-top: 12px; } }
.three-way-demo .nav-tabs li > a { display: block; padding: 0px 16px; color: #aaaaaa; font-size: 14px; line-height: 24px; }
.three-way-demo .nav-tabs li > a:hover { color: black; text-decoration: none; }
@media (min-width: 768px) { .three-way-demo .nav-tabs li > a { font-size: 16px; line-height: 24px; } }
.three-way-demo .nav-tabs .active > a { color: #333333; }
.three-way-demo .nav-tabs .active > a:before { content: "▶"; position: absolute; top: 0; left: 0; font-size: 12px; line-height: 24px; }
.three-way-demo .three-way-demo-text { position: absolute; bottom: 0; right: 3.5%; font-size: 24px; line-height: 30px; }
@media (min-width: 768px) { .three-way-demo .three-way-demo-text { font-size: 48px; line-height: 48px; } }
.three-way-demo .three-way-demo-text .special { font-size: 28px; line-height: 30px; }
@media (min-width: 768px) { .three-way-demo .three-way-demo-text .special { font-size: 60px; line-height: 72px; } }
.three-way-demo .mist { margin: 0 auto; max-width: 10%; }
.three-way-demo .humidifier { margin: 0 auto; width: 20%; max-width: 100px; position: relative; }
.three-way-demo .humidifier:after { content: ""; position: absolute; top: 80%; left: 50%; margin-left: -3px; padding: 3px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; background-color: #ccc; }
.three-way-demo .low .special { color: #fca733; }
.three-way-demo .low .humidifier:after { background-color: #fca733; }
.three-way-demo .high .special { color: red; }
.three-way-demo .high .humidifier:after { background-color: red; }
.three-way-demo .auto .special { color: green; }
.three-way-demo .auto .humidifier:after { background-color: green; }

.energy img { margin: 0 auto; }

.energy-line-chart { position: relative; margin-bottom: 18px; }
.energy-line-chart .chart-component { position: absolute; top: 0; right: 0; }

.energy-bar-chart { margin-top: 24px; }
.energy-bar-chart:after { content: ""; display: table; clear: both; }
.energy-bar-chart img { float: left; width: 48px; margin-right: .75em; border-right: 3px solid #86be48; padding-right: .75em; }
.energy-bar-chart .energy-bars { overflow: hidden; }
.energy-bar-chart .energy-bar { position: relative; font-size: 13px; line-height: 24px; color: #ababab; }
.energy-bar-chart .energy-bar:after { content: ""; display: table; clear: both; }
.energy-bar-chart .date-state { position: relative; z-index: 3; float: left; width: 6em; background-color: white; }
.energy-bar-chart .date-graph { position: absolute; z-index: 2; top: 10px; width: 100%; height: 4px; background-color: #bbb; }
.energy-bar-chart .date-count { position: relative; z-index: 3; float: right; width: 3em; text-align: right; background-color: white; }
.energy-bar-chart .auto-mode .date-graph { background-color: #86be48; width: 60%; }
.energy-bar-chart .auto-mode .date-count { color: #86be48; }

.easy-control img { margin: 0 auto 24px; }

.future-demo { margin-bottom: 24px; position: relative; }
.future-demo img { width: 100%; margin: 0 auto; }
.future-demo .carousel-inner { position: relative; overflow: hidden; width: 80%; margin: 0 auto; }
.future-demo .carousel-inner > .item { display: none; position: relative; -webkit-transition: left 0.6s; -moz-transition: left 0.6s; -o-transition: left 0.6s; transition: left 0.6s; }
.future-demo .carousel-inner > .active, .future-demo .carousel-inner > .next, .future-demo .carousel-inner > .prev { display: block; }
.future-demo .carousel-inner > .active { left: 0; }
.future-demo .carousel-inner > .next, .future-demo .carousel-inner > .prev { position: absolute; top: 0; width: 100%; }
.future-demo .carousel-inner > .next { left: 100%; }
.future-demo .carousel-inner > .prev { left: -100%; }
.future-demo .carousel-inner > .next.left, .future-demo .carousel-inner > .prev.right { left: 0; }
.future-demo .carousel-inner > .active.left { left: -100%; }
.future-demo .carousel-inner > .active.right { left: 100%; }
.future-demo .carousel-indicators { text-align: center; }
.future-demo .carousel-indicators li { display: inline-block; margin: 6px; padding: 5px; background-color: #999; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; cursor: pointer; }
.future-demo .carousel-indicators li.active { background-color: #6baec9; }
.future-demo .carousel-slide { position: relative; margin-bottom: 12px; }
.future-demo .carousel-control { position: absolute; top: 50%; margin-top: -24px; color: #6a6a6a; font-size: 40px; line-height: 48px; }
@media (min-width: 768px) { .future-demo .carousel-control { margin-top: -36px; font-size: 60px; line-height: 72px; } }
.future-demo .carousel-control:hover { text-decoration: none; }
.future-demo .carousel-control.left { left: 0; }
.future-demo .carousel-control.right { right: 0; }

.spec .block-content { margin-bottom: 24px; }
.spec .spec-list .name { width: 48.3871%; float: left; margin-right: 3.22581%; text-align: right; font-family: "Helvetica", "Arial", sans-serif; }
.spec .spec-list .value { color: #aaaaaa; width: 48.3871%; float: right; margin-right: 0; }

.other img { margin: 0 auto; }

.hide-mobile { display: none; }

@media (min-width: 768px) { .hide-mobile { display: block; }
  .hide-desktop { display: none; } }
.open { display: block; }

.active { display: block; }
